$natural-utility-btn-size: 60px;

.natural-utility-container-root {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100px;
    z-index: 4;
    //background-color: rgba(0,0,0,0.02);
    display: none;
    > .natural-wrapper {
        -webkit-justify-content: space-around;
        justify-content: space-around;
        align-items: center;
    }
    &.natural-utility-container-active {
        display: flex;
    }
}

.natural-utility-btn {
    border-radius: 50%;
    width: $natural-utility-btn-size;
    height: $natural-utility-btn-size;
    cursor: pointer;
    > .natural-wrapper {
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
    }
    &.natural-utility-pink-btn {
        background-image: linear-gradient(150deg, #ec008c, #fc6767);
    }
    &.natural-utility-blue-btn {
        background-image: linear-gradient(152deg, #87a5ff, #3552fb);
        padding: 2px;
        .natural-deco-offline {
            display: flex;
            align-items: center;
            background: #fff;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-content: center;
            border-radius: 100%;
        }
        .natural-deco-offline img {
            height: auto;
        }
    }
}
