@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.natural-chat-image-box-root {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    > .natural-wrapper {
        &.natural-wrapper-v {
            justify-content: space-between;
        }
    }
    .natural-primary-header {
        > .natural-wrapper {
            padding: 0 10px;
        }
    }
    .natural-image-container {
        overflow: scroll;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
    }

    .natural-download-container {
        display: -webkit-flex;
        display: flex;
        -ewbkit-justify-content: center;
        justify-content: center;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
        margin: 30px 0;
    }
}

.chat-image-detail {
    .backstage-profile {
        height: 57vh;
        position: relative;
        margin: 30px auto 0;
        overflow: hidden;
        width: 100%;
        display: inline-block;
    }
    .btn{
        text-align: center;
        position: absolute;
        bottom: 59px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: transparent;
        border: none;
    }

    .btn-view-all {
        position: absolute;
        right: 20px;
        top: 20px;
        color: #ffffff;
        font-size: $web-font-size;
        background-color: transparent;
        border: none;
    }
}

.is_tablet {
    .chat-image-detail {
        .backstage-profile {
            .img-bg  {
                width: 78%;
                margin: 0 auto;
            }
        }
    }
}