@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.left-row {
    padding: 0 20px;
    position: relative;
}

.right-row {
    position: relative;
    width: 100%;
}

.user {
    display: flex;
}

.custom-recieved-icon {
    margin-right: 20px;
}

.custom-thumbnail-icon {
    left: 17px !important;
}

.list-user__thumbnail .nav-bar__badge {
    top: 0;
    right: 14px;
}

.list-user__box .nav-bar__badge {
    top: 6px;
    right: 6px;
}

.list-user__box .grid-name {
    float: left;
    position: absolute;
    bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 57px;
}

.list-user.is_grid .list-user__box .user-name .name {
    width: 45px;
}
