@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.is_desktop .login-page__background{
    max-width: $max-with;
}

.login-page {
    &__background {
        width: 100%;
        display: block;
        margin: 0 auto;
        max-height: 100vh;
    }

    &:after {
        @include position-full-content;
        position: absolute;
        z-index: 2;
        content: '';
        background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 65%);
    }

    &__loading {
        @include full-screen-loading;

        &:before {
            display: none;
        }
    }

    &__content {
        @include horizontal-center-content;
        position: absolute;
        max-width: $max-with;
        z-index: 3;
        width: 100%;
        bottom: 20px;
    }

    .fb-icon {
        margin-right: 14px;
    }

    .btns-begin {
        margin-bottom: 70px;
    }

    .btns-login {
        display: flex;
        justify-content: center;
        padding: 0 31px;
        text-align: center;
    }

    p {
        font-size: 12px;
        margin-top: 8px;
    }


    .btn-custom {
        width: 320px;
        height: 50px;
        border-radius: 25px;
        text-align: center;
        border: none;
        display: block;
        margin: 0 auto;
        line-height: 50px;
        color: white;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    @media (max-width: 320px) {
        .btn-custom {
            width: 250px;
        }
    }

    .btn-fb-login {
        background-color: #fff;
        border: 1px solid #3853a1;
        color: #3853a1;
        margin-top: 18px;
        line-height: inherit;

        .icon {
            margin-right: 5px
        }
    }
}

.app-logo {
    overflow: hidden;

    &__img {
        display: block;
        margin: 0 auto;
        padding-left: 15px;
    }
}

.sign-in-page {
    &__loading {
        @include full-screen-loading;
    }
}
