@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

@include screenMobile('.register');

.register {
    .form-register {
        &__button {
            margin-top: 35px;
        }
    }

    &-footer a {
        display: inline-block;
        margin-top: 5px;
        text-decoration: underline;
        font-size: $web-font-size;
        color: #9b9b9b;
    }

    .form__label {
        min-width:100px;
        text-align: left !important;
    }

    select {
        color:#000;
    }

    .header-breadcrumb {
        text-align: center;
    }

    .breadcrumb {
        list-style: none;
        padding-top: 10px;
        padding-left: 0;
    }
    .breadcrumb li {
        display: inline-block;
        font-size: 11px;
        position: relative;
        width: 105px;
    }
    .breadcrumb li div {
        display: block;
        margin-left: 35px;
        margin-bottom: 10px;
    }
    .breadcrumb li::before {
        content: ".......................";
        color: #ec008c;
        position: relative;
        left: 50px;
        top: 20px;
    }
    .breadcrumb li:last-child {
        &::before {
            content: "";
        }
    }

    .number-active {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: linear-gradient(135deg, #ec008c, #fc6767);
        color: #fff;
        text-align: center;
        border-radius: 100%;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        padding-top: 2px;
    }
    .number-default {
        width: 30px;
        height: 30px;
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid #ec008c;
        color: #ec008c;
        text-align: center;
        border-radius: 100%;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        padding-top: 2px;
    }
    .btn-disable {
        opacity: 0.2;
    }
    .form-confirm {
        display: flex;
        padding: 20px;
        text-align: left;
        align-items: center;
        &__text-confirm {
            padding: 0 10px;
            a {
                color: #ec008c;
                cursor: pointer;
            }
        }
    }
    &__text-message {
        color: #ff0000;
        font-weight: 600;
        display: flex;
        padding: 20px;
        text-align: left;
    }
    .message-popup {
        background-color: rgba(0,0,0,.6)!important;
        touch-action: none;
        &__content {
            position: absolute;
            top: 100px;
            right: 0;
            left: 0;
            bottom: 0;
            margin: 50px 20px 150px;
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            margin: 0 auto;
            padding: 50px 30px 20px;
        }

        &__content>div {
            min-height: 35vh;
        }

        &__btn {
            margin: 10px auto;
            width: 85%;
            max-width: 300px;
            height: 50px;
            border-radius: 25px;
            text-align: center;
            border: none;
            z-index: 1;
            background-image: linear-gradient(110deg,#ec008c,#fc6767)!important;
            color: #fff;
            box-shadow: 0 16px 24px -19px rgba(187,55,101,.6);
        }

        &__header-content {
            position: relative;
            background-color: #fff;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
        &__title-content {
            padding: 5%;
            text-align: center;
            font-weight: 300;
            font-size: 12px;
            padding-bottom: 0px;
        }
        &__background {
            display: flex;
            justify-content: center;
            img {
                width: 90%;
            }
        }
    }
}
.is_tablet {
    .message-popup__content {
        padding: 50px 200px 20px;
    }
    .message-popup__content>div {
        min-height: 31vh;
    }
}