.natural-chat-footer-typing-root {
    display: none;
    position: absolute;
    z-index: 1;
    top: -25px;
    padding: 0 15px;
    line-height: 25px;
    color: black;
    background-color: white;
    width: 100%;
    border-bottom: solid 1px #ddd;
    &.natural-chat-footer-typing-active {
        display: flex;
    }

    .typing-dot {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        font-weight: bold;

        &:nth-child(2) {
            animation-delay: .2s;
        }

        &:nth-child(3) {
            animation-delay: .4s;
        }
    }
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}
