@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.favorite-page {
    .text-note {
        font-size: $web-font-size;
        text-align: center;
        color: $primary-color;
    }

    .list-users {
        margin-top: 10px;
        .text-note {
            font-size: $web-font-size;
            text-align: center;
            color: $primary-color;
        }
        .list-user__item {
            display: flex;
            .my-img {
                height: 80px;
                line-height: 80px;
            }
        }
        .user {
            height: 80px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            position: relative;
            .user-name {
                display: block;
                font-weight: 600;
            }
            .time {
                font-size: 12px;
                color: #bcbbbb;
                display: flex;
                align-items: center;
                i {
                    margin-right: 3px;
                }
            }
        }
    }
    .text-notice {
        text-align: center;
        color: #bcbbbb;
        margin-top: 198px;
    }

    .user-img {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
    }
    .my-img {
        cursor: pointer;
    }

    .btn-video-call {
        position: absolute;
        right: 20px;
    }
    .btn-phone-call {
        position: absolute;
        right: 94px;
    }
    a {
        color: #000;
    }
}
