@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.is_desktop {
    .bonus-popup {
        &__content {
            margin: 50px 70px 150px;
        }

        &__img {
            min-width: 500px;
        }
    }
}

.bonus-popup {
    background-color: rgba(0, 0, 0, 0.6) !important;
    touch-action: none;

    &__content {
        position: absolute;
        @include position-full-content;
        margin: 50px 20px 150px;
        @include image-background;

        > div {
            min-height: 30vh;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-width: 80%;
    }

    &__btn {
        @extend %background-button;
        display: block;
        position: absolute;
        bottom: 37px;
        transform: translateX(-50%);
        left: 50%;
        width: 70%;
        max-width: 300px;
        height: 50px;
        border-radius: 25px;
        text-align: center;
        border: none;
        z-index: 1;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .login-bonus-popup {
        margin: 0 auto;
        padding: 50px 40px 20px;
        .bonus-popup__img {
            max-width: 100%;
        }
    }

    .button-cancel-tutorial {
        @include horizontal-center-content;
        position: relative;
        border: none;
        border-radius: 50%;
        background-color: #000;
        color: #fff;
        font-size: 25px;
        width: 50px;
        height: 50px;
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }

    .tutorial-step2-btn {
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: 100px;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 0 !important;
        .step2-btn  {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
            margin-right: 12vw;
            &:last-child {
                margin-right: 0;
            }
        }
        .step2-pink-btn{
            background-image: -webkit-linear-gradient(300deg, #ec008c, #fc6767);
            background-image: linear-gradient(150deg, #ec008c, #fc6767);
        }
        .step2-blue-btn {
            background-image: -webkit-linear-gradient(298deg, #87a5ff, #3552fb);
            background-image: linear-gradient(152deg, #87a5ff, #3552fb);
        }
    }
    
    .tutorial-step-1 {
        position: absolute;
        left: -15px;
        top: 125px;
        width: 100%;
    }

    .step-message {
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        position: absolute;
    }

    .step1-message {
        padding: 0 50px;
        margin-top: 20px;
    }
}

.tutorial .slick-arrow {
    display: none !important;
}

.tutorial .slick-dots button:before {
    color: #fff;
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    color: #ff0068 !important;
    font-size: 10px;
    opacity: 1 !important;
}

.tutorial .button-next-tutorial {
    position: absolute;
    bottom: 16%;
    right: 4%;
    min-width: 25%;
    min-height: 50px;
    border: none;
    background-color: #fff;
    color: #ff0068;
    border-radius: 29px;
}

.background-tutorial-step2 {
    width: 100%;
    //height: -webkit-fill-available;
}

.background-tutorial-step2 .bg-step2 {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
}

.background-tutorial-step2 .btn-step2 {
    position: absolute;
    z-index: 999;
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.img-step-1_1 {
    margin-top: 20px;
    margin-left: 50px;
}

.img-step-1_2 {
    width: 35%;
}

.img-step-2_1 {
    max-width: 100%;
    position: absolute;
    bottom: -25px;
}

.img-step-2_2 {
    position: absolute;
    bottom: -155px;
    width: 34%;
    left: 13px;
}

.step2-message {
    position: absolute;
    bottom: 23%;
}

.img-step-3_1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
}

.tutorial-step-3 {
    overflow: unset !important;
}

.tutorial-step-3 .bonus-popup__content {
    margin: 0;
}

.tutorial-step-3 .bottom-box {
    min-height: 65px !important;
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    padding-top: 14px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    .iconPlus {
        position: absolute;
        left: 20px;
    }
    .iconSmile{
        position: absolute;
        left: 54px;
    }
    input {
        border: none;
        position: absolute;
        left: 91px;
        width: 60%;
        caret-color: #ec008c;
        &::placeholder {
            font-size: 14px;
            color: #bcbbbb;
        }
    }
    .iconDefault {
        width: 22px;
        height: 20px;
        position: absolute;
        right: 20px;
    }
    .iconActive {
        position: absolute;
        right: 10px;
        bottom: 8px;
    }
}

.step3-message {
    position: absolute;
    bottom: 13%;
}

.tutorial-submit-chat {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.tutorial-get-point {
    margin-top: 35%;
}

.btn-get-point {
    position: absolute;
    bottom: 20px;
    right: 15%;
    min-width: 70%;
    min-height: 50px;
    border: none;
    background-color: #fff;
    color: #ff0068;
    border-radius: 29px;
}

.tutorial-get-point .btn-get-point {
    position: absolute;
    bottom: 20px;
    right: 15%;
    min-width: 70%;
    min-height: 50px;
    border: none;
    box-shadow: 0 16px 24px -19px rgba(187, 55, 101, 0.6);
    background-image: linear-gradient(115deg, #ec008c, #fc6767);
    color: #fff;
    border-radius: 29px;
}

.tutorial-input-send {
    min-width: 80% !important;
}

.btn-finish-tutorial {
    position: absolute;
    bottom: 13%;
    right: 15%;
    min-width: 70%;
    min-height: 50px;
    border: none;
    background-color: #fff;
    color: #ff0068;
    border-radius: 29px;
}

.is_desktop {
    .news-popup {
        &__header,
        &__content {
            max-width: 700px !important;
            @include custom-scrollbar;
        }
    }
}

.news-popup {
    background-color: rgba(0, 0, 0, 0.6) !important;
    touch-action: none;

    &__wrapper {
        width: 100%;
    }

    &__header {
        position: fixed;
        left: 20px;
        top: 50px;
        right: 20px;
        height: 42px;
        padding: 10px 0;
        border-radius: 5px 5px 0 0;
        background-image: linear-gradient(98deg, #ec008c, #fc6767);
        text-align: center;
        color: #fff;
        font-weight: bold;
        max-width: 90% !important;
        margin: 0 auto;
    }

    &__content {
        position: fixed;
        left: 20px;
        top: 92px;
        right: 20px;
        bottom: 111px;
        margin: 0 auto;
        padding: 15px 15px 0;
        overflow-y: auto;
        overflow-x: hidden;
        background: #efefef;
        max-width: 90% !important;
    }

    &__footer {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 15px 20px;
        background: #fff;
        text-align: center;
        max-width: 100% !important;
        label {
            margin: 0;
        }
    }

    &__checkbox {
        display: block;
        padding: 10px;
        cursor: pointer;

        input {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

.bonus-popup-wrapper .background-tutorial-step2 {
    img {
        max-width: 100vw;
    }
}

.is_desktop .bonus-popup-wrapper .background-tutorial-step2 {
    img {
        max-width: $max-width;
    }
}

.is_tablet {
    .tutorial-step2-btn {
        bottom: 40px;
    }
    .step2-btn {
        width: 85px !important;
        height: 85px !important;
        margin-right: 20vw;
    }
    .img-step-1_1 {
        width: 50%;
    }
    .img-step-1_2 {
        width: 20%;
    }
    .img-step-2_1 {
        max-width: 65%;
        position: absolute;
        bottom: 6%;
        left: 20%;
    }
    .img-step-2_2 {
        width: 22%;
        left: 22%;
        bottom: -160px;
    }
    .img-step-3_1 {
        bottom: 110px;
    }
    .tutorial-input .icon-send{
        width: 30px;
        height: 27px;
    }
    .background-tutorial-step2 .btn-step2 {
        width: 50%;
    }
    .btn-get-point {
        bottom: 80px;
    }
    .login-bonus-popup {
        padding: 50px 150px 20px;
        .bonus-popup__img {
            max-width: 100%;
        }
        .bonus-popup__btn {
            bottom: 30px;
        }
    }
}
