.banner-top-wrap{
    position: relative;
    display: block;
    height: 60px;
    overflow: hidden;
    background: white;

    .banner-top-img {
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
    }
}
