.natural-chat-footer-emoji-menu-root {
    height: 0;
    overflow: hidden;
    -webkit-transition: height .4s -webkit-cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    > .natural-wrapper {
        height: 200px;
        min-height: 200px;
        justify-content: flex-end;
    }

    &.is_active {
        height: 200px;
    }
}
