@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.popup-warning {
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 100%;
    height: 100%;
}

.main-popup-warning {
    @include center-content;
    position: absolute;
    text-align: center;
    background-color: #fff;
    max-width: 400px;
    width: 90%;

    .my-content-popup{
        max-height: 200px;
        overflow: auto;
        padding: 0px 20px;
    }
    .title-popup-warning {
        color : red;
        margin: 15px;
        font-size: 15px;
    }

    .content-popup-warning {
        text-align: left;
        margin-left: 8px;
        word-break: break-all;
    }

    .footer-popup {
        margin: 0 auto;
        border-top: 1px solid #ababab;
    }

    .btn-popup-warning {
        border: none;
        background-color: transparent;
        line-height: 45px;
    }

    .read-popup-warning {
        padding-top: 15px;
        display: block;
        text-align: left ;
    }
}
