$chatFooterHeight: 55px;
.natural-chat-footer-root {
    position: relative;
    height: auto;
    -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    overflow: visible;
    &.natural-chat-footer-plus-menu-active {
        .natural-row-primary {
            border-bottom: solid 1px #efefef;
        }
    }

    .natural-row-primary {
        height: $chatFooterHeight;
    }

    .natural-actions {
        padding-left: 13px;
        > .natural-wrapper {

        }
        .natural-action {
            cursor: pointer;

            .deco {
                min-width: 40px;
                height: 20px;
                text-align: center;
            }
            &.natural-action-plus {
                .deco {
                    -webkit-transition: -webkit-transform .4s -webkit-cubic-bezier(0.075, 0.82, 0.165, 1);
                    transition: transform .8s cubic-bezier(0.075, 0.82, 0.165, 1)
                }
            }

            .icon-keyboard {
                margin-top: 4px;
                width: 28px;
            }
        }
    }

    .proper-action {
        padding: 0 13px 0 10px;
        .action {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
            .natural-deco {
                width: 20px;
                height: 20px;
                padding: 0;
            }
        }
    }
}
