@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

@include screenMobile('.full-screen');

.full-screen {
    @include position-full-content;
    //@include custom-scrollbar;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    z-index: 1400;
    margin: 0 auto;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 1s ease;
    transform-origin: bottom;

    &.is_transparent {
        background-color: transparent;
    }

    &.is_popup {
        background-color: rgba(0, 0, 0, 0.65);
    }

    &.no_header .full-screen__content {
        margin-top: 0;
    }

    &.is_hidden {
        bottom: auto;
        height: 0;
        //overflow: hidden;
    }

    &__content {
        margin-top: 55px;
    }
}

body.modal_open {
    position: fixed;
    overflow: hidden !important;
    -webkit-touch-callout: none;
    width: 100%;

    &.is_safari .full-screen {
        .k-header {
            position: sticky;
            transform: translateX(0);
            left: 0;
        }

        .full-screen__content {
            margin-top: 0;
            -webkit-touch-callout: none;
            touch-action: none;
        }

        .region-area__content {
            margin-top: 0;
        }
    }
}
