@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.natural-chat-pool-root {
    > .natural-wrapper {
        height: auto;
    }

    .message-chain {
        overflow: scroll;
        overflow-x: hidden;
        height: 100%;
        > .natural-wrapper {
            height: auto;
        }
    }

    .natural-date-separation {
        opacity: .6;
        margin: 15px 0;
    }

    .box-loading {
        min-height: 40px;
        overflow: hidden;
        padding-top: 5px;
    }
}
