@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";
.left-row {
    padding: 0px 20px;
    position: relative;
}
.right-row {
    position: relative;
    width: 100%;
}

.user {
    display: flex;
}

@include screenMobile('.form-search-name .search-input');

.form-search-name {
    .search-input {
        position: fixed;
        width: 100%;
        height: 70px !important;
        top: $header-height;
        background-color: #fff;
        z-index: 1;
    }

    .icon-search {
        position: absolute;
        @include vertical-center-content;
        left: 7px;
    }

    .background-empty {
        @include border-radius(50%);
        @include center-content;
        position: absolute;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        left: calc(50vw - 60px);
    }

    .user-result-wrap{
        position: relative;
        margin-top: 70px;
    }
}
