.natural {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.natural-mobile {
    width: 100%;
}

.natural-desktop {
    max-width: $max-width;
}

.natural-announce {
    padding: 13px;
}

.is_desktop .natural-wrapper {
    max-width: $max-width;
    margin: 0 auto;
}

.natural-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: stretch;
    width: 100%;
    height: 100%;
    &.natural-wrapper-v {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
}

.natural-quiet {
    opacity: .4;
}

.natural-neutral-bg-color {
    background-color: $neutral-color;
}

.natural-primary-color {
    color: $primary-color;
}

.natural-primary-bg-color {
    background-color: $primary-color;
}

.natural-contrast-bg-color {
    background-color: $contrast-color;
}

.natural-contrast-bg-color-off {
    background-color: #b4bdef;
}

.natural-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.natural-button {
    background: none;
    border: none;
}

.natural-deco {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-content: center;
    align-content: center;
    svg, img {
        height: 100%;
    }
}
