
html {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    background-color: #ffffff;
    margin: 0 auto !important;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
    color: #000;
    font-size: $web-font-size;
    width: $max-with;

    &.is_mobile {
        width: auto;
    }

    &.loading__full {
        overflow: hidden !important;
        -webkit-touch-callout: none;
        @include full-screen-loading;

        &:after {
            position: fixed;
        }
    }

    &.server_maintain {
        overflow: hidden !important;
        max-height: 100vh;
    }

    &.is_desktop {
        @include custom-scrollbar();
    }
}

iframe {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    overflow: hidden;
    border: none;
}

.is_hidden {
    display: none !important;
}

.content {
    height: calc(100vh - #{$header-height} - #{$footer-height});
    width: 100%;
}

.fixed {
    position: absolute;
}

a {
    &:focus, &:hover {
        text-decoration: none;
    }
    cursor: pointer;
}

.underline {
    text-decoration: underline !important;

    &:focus, &:hover {
        text-decoration: underline !important;
    }
}

button {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

.border-t {
    border-top: 1px solid #efefef;
}

.border-b {
    border-bottom: 1px solid #efefef;
}

button, input {
    &:focus {
        outline: none;
    }
}

input {
    caret-color: $primary-color;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mt_10 {
    margin-top: 10px !important;
}

.mt_20 {
    margin-top: 20px !important;
}

.mt_30 {
    margin-top: 30px !important;
}

.mb_20 {
    margin-bottom: 20px !important;
}

.mb_30 {
    margin-bottom: 30px !important;
}

.mt5 {
    margin-top: 50px;
}

.mt2 {
    margin-top: 20px;
}

.ml_10 {
    margin-left: 10px;
}

.ml_15 {
    margin-left: 15px;
}


.badge {
    @include border-radius(50%);
    position: absolute;
    font-size: 10px;
    color: #fff;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: #71d008;
    line-height: 17px;
    text-align: center;

    &__plus {
        width: 20px;
        height: 20px;
        line-height: 21px;
        font-size: 9px;
    }
}

.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 200;
    transition: opacity 0.25s ease-in-out;
    .text {
        width: 100%;
        position: absolute;
        bottom: 35px;
        text-align: center;
    }
}

.btn-custom {
    width: 318px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    border: none;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-active {
    @extend %background-button;
}

/* Custom library react-mobile-datepicker */
.datepicker-navbar {
    background: linear-gradient(337deg, #fc6767, $primary-color);
    border-bottom: none !important;
    color: #fff;

    &-btn {
        color: #fff !important;
    }
}

div[tabindex] {
    outline: none;
}

.static-content {
    @include word-wrap;
    padding: 10px 5px;

    img {
        max-width: 100% !important;
    }
}

.loading-wrapper {
    @include position-full-content;
    transform: translateX(-50%);
    left: 50%;
    max-width: $max-with;
    width: $max-with;
    position: fixed;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.4);

    .loading-icon {
        @include center-content;
        position: fixed;
        z-index: 10001;
    }
}

.loading-box {
    position: relative;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.preview-avatar {
    @include image-background;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 2;

    &:before, &:after {
        @include position-full-content;
        content: '';
        position: absolute;
    }

    &:before {
        @include position-full-content;
        @include image-background;
        background-image: url(#{$icon-path}/upload-img.svg);
        content: '';
        position: absolute;
        z-index: 4;
    }

    &:after {
        @include border-radius(50%);
        background: #fff;
        z-index: 3;
    }

    &.is-circle {
        @include border-radius(50%);
        border: 1px solid rgba(152, 152, 152, 0.09);

        &:before, &:after {
            display: none;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.text {
    &-primary {
        color: $primary-color !important;
    }

    &-white {
        color: #fff !important;
    }

    &-black {
        color: #000 !important;
    }
}


.rotate {
    &-90 {
        @include transform(rotate(90deg));
    }

    &-180 {
        @include transform(rotate(180deg));
    }

    &-240 {
        @include transform(rotate(240deg));
    }
}

#elm {
    &__maintain {
        @include position-full-content;
        @include background-opacity(#000, 0.5);
        z-index: 999999;
        position: fixed;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-align: center;
    }
}
