.is_desktop .k-footer {
    @include horizontal-center-content;
    max-width: $max-with;
}

.k-footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 100;

    .nav-bar__badge {
        position: relative;
        top: -6px;
        left: -4px;
    }
}

.footer {
    &__tabs {
        list-style-type: none;
        height: 65px;
        background-color: #fff;
        margin-bottom: 0;
        text-align: center;
        padding-left: 0;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    }

    &__tab {
        float: left;
        width: 25%;
        line-height: 56px;
        i {
            font-size: 24px;
            background: -webkit-linear-gradient(308deg, $primary-color, #fc6767);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
