.picker-hide-empty option[data-testid="empty"] {
    display: none !important;
}

.form {
    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border-bottom: 1px solid #efefef;
        margin-bottom: 0;

        &.multiple_line {
            display: block;
            .form {
                &__label {
                    padding-bottom: 0;
                }

                &__group-input {
                    padding: 10px $form-padding;
                }
            }
        }

        > *:first-child:not(.form__group-input) {
            padding-left: 15px;
        }
    }

    &__label {
        margin: 0;
        padding: 20px 0 20px $form-padding;
        flex: 0 0 auto;
    }

    &__group-input {
        position: relative;
        padding: 20px 30px 20px;
        flex: 1 1 auto;
        align-items: center;
        min-height: 24px;
        text-align: right;

        &.has_icon-left {
            padding-left: 25px;
        }

        &.one_line {
            @include ellipsis;
            @include word-wrap;
        }

        &.no_icon-right {
            padding-right: 20px;
        }

        &.pink-text select {
            color: $primary-color;
        }

        &.is_select {
            padding: 0 $form-padding 0 0 !important;

            select {
                text-align: right;
                direction: rtl;
                padding-right: 15px;
                border: 0;
                outline: 0;
                -webkit-appearance: none; /*Removes default chrome and safari style*/
                -moz-appearance: none;
                background: transparent;

                option {
                    text-align: right;
                }
            }
        }

        &.is_block {
            width: 100%;
        }

        input, textarea {
            width: 100%;
        }

        select {
            width: 100%;
            min-height: 69px;
            border: 0;
            outline: 0;
            -webkit-appearance: none; /*Removes default chrome and safari style*/
            -moz-appearance: none;
            background: transparent;
        }

        &.text-center select {
            text-align-last:center;
        }
    }

    &__icon-right {
        @include vertical-center-content;
        @extend .icon;
        @extend .icon-chevron-right;
        position: absolute;
        right: $form-padding;
    }
}

.require-text {
    color: #f4001e;
}

.radio-button {
    display: none;

    + label {
        .radio-button__icon {
            @include border-radius(50%);
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: -1px 4px 0 0;
            vertical-align: middle;
            cursor: pointer;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
            text-align: center;
            line-height: 24px;
            background-color: #e0e0e0;

            img {
                opacity: 0;
                transition: all .3s ease;
            }
        }
    }

    &:checked + label .radio-button__icon {
        background-color: $primary-color;;
        background: url(#{$icon-path}/check-box.svg) no-repeat center;
    }
}

.switch {
    cursor: pointer;
    position: relative;
}

.switch input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

.switch input:checked + span:after {
    left: 21px;
}

.switch input:checked + span {
    background-color: #4cd964;
}

.switch input:disabled + span {
    background-color: #CCC;
}

.switch span {
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: all 200ms ease;
    left: 0;
}

.switch span:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 26px;
    top: 1px;
    bottom: 1px;
    left: 1px;
    border-radius: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    transition: all 200ms ease;
}

.switch.switch-small {
    margin: 6px 0 4px;
}

.switch.switch-small input:checked + span:after {
    left: 11px;
}

.switch.switch-small span {
    width: 30px;
    height: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.switch.switch-small span:after {
    width: 16px;
}

.switch {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-clip: padding-box;
    position: relative;
    min-width: 55px;
    font-size: 17px;
    padding: 0 20px;
    border: none;
    overflow: visible;
    width: 51px;
    height: 32px;
    margin-bottom: 0;
    z-index: 0;
    text-align: left;

    &--active__handle {
        transition: none;
    }

    &__input {
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        vertical-align: top;
        outline: none;
        width: 100%;
        height: 100%;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        z-index: 0;
    }

    /* switch toggle background */
    &__toggle {
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 30px;
        transition-property: all;
        transition-duration: 0.35s;
        transition-timing-function: ease-out;
        box-shadow: inset 0 0 0 2px #e5e5e5;
    }
    /* switch toggle circle */
    &__handle {
        box-sizing: border-box;
        background-clip: padding-box;
        position: absolute;
        content: '';
        border-radius: 28px;
        height: 28px;
        width: 28px;
        background-color: white;
        left: 1px;
        top: 2px;
        transition-property: all;
        transition-duration: 0.35s;
        transition-timing-function: cubic-bezier(.59, .01, .5, .99);
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, .25), 0 3px 2px rgba(0, 0, 0, .25);
    }

    &__touch {
        position: absolute;
        top: -5px;
        bottom: -5px;
        left: -10px;
        right: -10px;
    }
}

:checked + .switch__toggle {
    box-shadow: inset 0 0 0 2px #44db5e;
    background-color: #44db5e;
}

:checked + .switch__toggle > .switch__handle {
    left: 21px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .25);
}

:disabled + .switch__toggle {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.checkbox-custom-label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: $web-font-size;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-custom {
    opacity: 0;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #efefef;
    border-radius: 50%;
}

.checkbox-custom-label input:checked ~ .checkbox {
    background: url(#{$icon-path}/check-box.svg);
    background-size: cover;
}
