.is_desktop .k-header {
    max-width: $max-with;
    margin: 0 auto;
}

.k-header {
    @include horizontal-center-content;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.nav-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: $header-height;
    background: linear-gradient(315deg, #fc6767, $primary-color);
    color: #fff;

    &__icon {
        position: absolute;
        z-index: 101;
        height: 100%;
        min-width: 40px;
        line-height: $header-height;
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.is_avatar {
            @include border-radius(50%);
            left: 40px;
            top: 8px;
            width: $header-height - 15px;
            height: $header-height - 15px;
            overflow: hidden;
        }

        &--left {
            left: 5px;
            padding-right: 5px;
        }

        &--right {
            right: 0;

            &.is_memo {
                right: 40px;
            }

            &.is_options {
                right: 80px;
            }

            &.is_message .nav-bar__badge {
                right: 3px;
            }
        }
    }

    &__badge {
        position: absolute;
        top: 9px;
        right: 7px;

        &:empty {
            display: none;
        }
    }

    &__button {
        @include vertical-center-content;
        position: absolute;
        right: 20px;
        border: 1px solid #fff;
        padding: 0 5px;
        border-radius: 3px;
        font-size: $web-font-size;
        color: white;
        background: transparent;
    }

    &__title {
        @include word-wrap;
        @include ellipsis;
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        line-height: $header-height;
    }
}

.is_desktop .sub-header__list {
    box-shadow: none;
}

.sub-header {
    @include horizontal-center-content;
    position: fixed;
    top: $header-height;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

    &__list {
        height: 48px;
        list-style-type: none;
        background-color: #f8f8f8;
        padding-left: 0;
        margin-bottom: 0;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;

        &.three {
            .sub-header__item {
                width: 33.3%;
            }
        }

        &.two {
            .sub-header__item {
                width: 50%;
            }
        }
    }

    &__item {
        position: relative;
        text-align: center;
        width: 25%;
        line-height: 48px;
        color: #9b9b9b;
        background: #f8f8f8;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 0;
            height: 2px;
            background: linear-gradient(359deg, #fc6767, $primary-color);
            transition: width 200ms ease-in-out;
        }

        &.is_active {
            color: $primary-color;

            &::before {
                width: 100%;
            }
        }

        &.text_left {
            text-align: left;
        }

        a {
            position: relative;
            line-height: 48px;
            color: #9b9b9b;
            font-size: $web-font-size;
            display: block;
            width: 100%;
            outline: none;
            border: none;
            background: transparent;
        }

        .is_active {
            color: $primary-color;
            position: relative;
            &::before {
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                content: "";
                background: linear-gradient(359deg, #fc6767, $primary-color);
                height: 1px;

            }
        }
    }

    .form-search {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        margin: 9px 0 0 16px;
        padding: 8px;
    }
}

.is_desktop .sub-header {
    max-width: $max-with;
    margin: 0 auto;
}

@include safariFixed('.k-header');
@include safariFixed('.sub-header');

.has_sub-header .k-main {
    margin-top: 58px !important;
}
