.icon {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    &-arrow-left {
        width: 18px;
        height: 14px;
        background-image: url(#{$icon-path}/back-arrow.svg);
    }

    &-chevron-right {
        width: 6.8px;
        height: 12px;
        background-image: url(#{$icon-path}/right.svg);
    }

    &-chevron-right-white {
        width: 11px;
        height: 20px;
        background-image: url(#{$icon-path}/icon-chevron-right-w.svg);
    }

    &-chevron-left-white {
       width: 11px;
       height: 20px;
       background-image: url(#{$icon-path}/arrow-l.svg);
    }

    &-fb {
        width: 20px;
        height: 20px;
        background-image: url(#{$icon-path}/fb-icon.svg);
    }

    //&-upload-img {
    //    width:100px;
    //    height: 100px;
    //    background-image: url(#{$icon-path}/upload-img.svg);
    //}
    //
    //&-upload-img-w {
    //    width:100px;
    //    height: 100px;
    //    background-image: url(#{$icon-path}/icon-upload-img-w.svg);
    //}
    //
    &-chat-white {
        width: 28px;
        height: 26px;
        background-image: url(#{$icon-path}/chat-white.svg);
    }
    
    &-menu-left {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/menu.svg);
    }

    &-message {
        width: 21.92px;
        height: 20px;
        background-image: url(#{$icon-path}/icon-chat-sm.svg);
    }

    &-message-sm {
        width: 21.92px;
        height: 18px;
        background-image: url(#{$icon-path}/icon-chat-sm.svg);
    }

    &-list-view {
        width: 18px;
        height: 18px;
        background-image: url(#{$icon-path}/icon-list-h.svg);
    }

    &-grid-view {
        width: 18px;
        height: 18px;
        background-image: url(#{$icon-path}/icon-grid-view.svg);
    }

    &-phone-call-sm {
        width: 9px;
        height: 9px;
        background-image: url(#{$icon-path}/icon-phhone-call-sm.svg);
    }

    &-video-call-sm {
        width: 11px;
        height: 6px;
        background-image: url(#{$icon-path}/icon-video-call-sm.svg);
    }

    &-chats {
        width: 9px;
        height: 9px;
        background-image: url(#{$icon-path}/icon-chats.svg);
    }
    
    &-foot {
       width: 24.05px;
       height: 27.3px;
       background-image: url(#{$icon-path}/icon-shoe-print.svg);
    }
    
    &-thumbs-up {
       width:24.38px;
       height: 22px;
       background-image: url(#{$icon-path}/icon-thumbs-up.svg);
    }
    
    &-heart-sm {
        width: 24.9px;
        height: 22px;
        background-image: url(#{$icon-path}/icon-heart-sm.svg);
    }

    &-delete {
        width: 19px;
        height: 19px;
        background-image: url(#{$icon-path}/delete.svg);
    }
    
    &-call-setting {
       width:24.19px;
       height: 23px;
       background-image: url(#{$icon-path}/icon-call-setting.svg);
    }
    
    &-chat-check {
        width: 22px;
        height: 22px;
        background-image: url(#{$icon-path}/chat-check.svg);
    }
    &-chat-c {
        width: 26px;
        height: 24px;
        background-image: url(#{$icon-path}/chat-c.svg);
    }
    //
    //&-recycle-check {
    //    width:25px;
    //    height: 26px;
    //    background-image: url(#{$icon-path}/icon-recycle-check.svg);
    //}
    //
    //&-recycle {
    //    width:21px;
    //    height: 26px;
    //    background-image: url(#{$icon-path}/icon-recycle.svg);
    //}
    //
    //&-recycle-w {
    //    width:17.88px;
    //    height: 22px;
    //    background-image: url(#{$icon-path}/icon-recycle-w.svg);
    //}
    //
    &-setting {
       width:21px;
       height: 21px;
       background-image: url(#{$icon-path}/icon-setting.svg);
    }
    
    //&-noti {
    //    width: 18px;
    //    height: 23px;
    //    background-image: url(#{$icon-path}/icon-noti.svg);
    //}

    &-user {
        width: 28px;
        height: 27px;
        background-image: url(#{$icon-path}/icon-user.svg);
    }

    &-etc-menu {
        width: 4px;
        height: 20px;
        background-image: url(#{$icon-path}/etc-menu.svg);
    }

    &-memo {
        width: 15px;
        height: 19px;
        background-image: url(#{$icon-path}/icon-memo.svg);
    }

    &-gift {
        width: 24.5px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-gift.svg);
    }

    &-notify-ol {
        width: 24px;
        height: 24px;
        background-image: url(#{$icon-path}/icon-noti-ol.svg);
    }

    &-block {
        width: 24px;
        height: 24px;
        background-image: url(#{$icon-path}/icon-block.svg);
    }

    &-report {
        width: 27.3px;
        height: 24px;
        background-image: url(#{$icon-path}/icon-report.svg);
    }

    &-ellipsis-v {
        width: 4px;
        height: 20px;
        background-image: url(#{$icon-path}/icon-ellipsis-v.svg);
    }

    &-file-alt {
        width: 14.62px;
        height: 18px;
        background-image: url(#{$icon-path}/icon-file-alt.svg);
    }

    &-chat-sm {
        width: 21.92px;
        height: 20px;
        background-image: url(#{$icon-path}/icon-chat-sm.svg);
    }

    &-purchase-points {
       width:28px;
       height: 34px;
       background-image: url(#{$icon-path}/icon-purchase-points.svg);
    }
    
    &-timeline {
       width: 22px;
       height: 26px;
       background-image: url(#{$icon-path}/icon-time-line.svg);
    }
    
    &-free {
       width:24px;
       height:34px;
       background-image: url(#{$icon-path}/icon-free-points.svg);
    }
    
    //&-tutorial {
    //    width:22px;
    //    height: 25px;
    //    background-image: url(#{$icon-path}/icon-tutorial.svg);
    //}
    //
    &-info {
       width:25.59px;
       height: 25.59px;
       background-image: url(#{$icon-path}/icon-info.svg);
    }

    &-search-w {
        width: 16px;
        height: 16px;
        background-image: url(#{$icon-path}/icon-search-w.svg);
    }

    &-search {
        width: 14px;
        height: 14px;
        background-image: url(#{$icon-path}/icon-search.svg);
    }

    //&-ellipsis-v {
    //    width:4px;
    //    height: 20px;
    //    background-image: url(#{$icon-path}/icon-ellipsis-v.svg);
    //}
    //
    //&-file-alt {
    //    width:14.62px;
    //    height: 18px;
    //    background-image: url(#{$icon-path}/icon-file-alt.svg);
    //}
    //
    //&-heart-ol {
    //    width:24.9px;
    //    height: 22px;
    //    background-image: url(#{$icon-path}/icon-heart-ol.svg);
    //}
    //
    //&-heart-ol-lg {
    //    width: 31px;
    //    height: 28px;
    //    background-image: url(#{$icon-path}/icon-heart-ol.svg);
    //}

    &-reaction {
        width: 31px;
        height: 28px;
        background-image: url(#{$icon-path}/icon-heart-ol.svg);
    }

    &-reactionActive {
        width: 32px;
        height: 28px;
        background-image: url(#{$icon-path}/icon-heart-lg.svg);
    }

    &-heart-ol-sm {
        width: 27px;
        height: 24px;
        background-image: url(#{$icon-path}/icon-heart-ol-sm.svg);
    }

    &-time {
        width: 12px;
        height: 12px;
        background-image: url(#{$icon-path}/icon-time.svg);
    }

    &-position {
        width: 9px;
        height: 12.85px;
        background-image: url(#{$icon-path}/icon-position.svg);
    }

    &-received {
        width: 14px;
        height: 14px;
        background-image: url(#{$icon-path}/icon-received.svg);
    }

    &-comment-grey {
        width: 28px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-comment-grey-ol.svg);
    }

    &-comment {
        width: 25px;
        height: 23px;
        background-image: url(#{$icon-path}/icon-comment.svg);
    }

    &-like {
        width: 25px;
        height: 23px;
        background-image: url(#{$icon-path}/icon-like.svg);
    }

    &-liked {
        width: 25px;
        height: 23px;
        background-image: url(#{$icon-path}/icon-liked.svg);
    }

    
    &-red-heart {
       width:32px;
       height: 28px;
       background-image: url(#{$icon-path}/icon-heart-lg.svg);
    }
    
    //&-image {
    //    width:23px;
    //    height: 23px;
    //    background-image: url(#{$icon-path}/icon-image.svg);
    //}
    //
    &-chat-lg {
       width:32px;
       height: 28px;
       background-image: url(#{$icon-path}/icon-chat-lg.svg);
    }
    
    //&-phone-call-lg {
    //    width:26px;
    //    height: 26px;
    //    background-image: url(#{$icon-path}/icon-phone-call-lg.svg);
    //}
    //

    &-video-call-lg {
       width:30px;
       height: 16px;
       background-image: url(#{$icon-path}/icon-video-call-lg.svg);
    }
    
    &-gift {
       width:24.5px;
       height: 26px;
       background-image: url(#{$icon-path}/icon-gift.svg);
    }
    
    //&-noti-ol {
    //    width:24px;
    //    height: 24px;
    //    background-image: url(#{$icon-path}/icon-noti-ol.svg);
    //}
    
    &-block {
       width:24px;
       height: 24px;
       background-image: url(#{$icon-path}/icon-block.svg);
    }
    
    //&-report {
    //    width:27.3px;
    //    height: 24px;
    //    background-image: url(#{$icon-path}/icon-report.svg);
    //}

    &-report-ol-notify {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-report-ol-notify.svg);
    }

    &-template {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-template.svg);
    }

    &-call-log {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-call-log.svg);
    }

    &-point {
        width: 26px;
        height: 31px;
        background-image: url(#{$icon-path}/point.svg);
    }

    &-level {
        width: 29px;
        height: 19px;
        background-image: url(#{$icon-path}/level.svg);
    }
    //
    //&-write {
    //    width:19px;
    //    height: 20px;
    //    background-image: url(#{$icon-path}/icon-write.svg);
    //}

    &-send {
        width: 20px;
        height: 16px;
        background-image: url(#{$icon-path}/icon-send.svg);
    }

    &-keyboard {
        width: 24px;
        height: 14px;
        background-image: url(#{$icon-path}/icon-keyboard.svg);
    }

    &-plus {
        width: 18px;
        height: 18px;
        background-image: url(#{$icon-path}/icon-plus.svg);
    }

    &-smile {
        width: 21px;
        height: 21px;
        background-image: url(#{$icon-path}/icon-smile.svg);
    }

    &-call {
        width: 25px;
        height: 25px;
        background-image: url(#{$icon-path}/call-icon.svg);
    }

    &-call-sm {
        width: 20px;
        height: 20px;
        background-image: url(#{$icon-path}/call-icon.svg);
    }

    &-call-blue {
        width: 32px;
        height: 32px;
        background-image: url(#{$icon-path}/call-icon-blue.svg);
    }

    &-video-blue {
        width: 36px;
        height: 20px;
        background-image: url(#{$icon-path}/call-video-blue.svg);
    }

    &-video {
        width: 34px;
        height: 18px;
        background-image: url(#{$icon-path}/video-call.svg);
    }

    //&-make-call-w{
    //    width:33px;
    //    height: 31px;
    //    background-image: url(#{$icon-path}/icon-make-call-w.svg);
    //}
    //
    //&-call-end{
    //    width:34px;
    //    height: 12px;
    //    background-image: url(#{$icon-path}/icon-call-end.svg);
    //}
    //
    //&-call-end-w{
    //    width:34px;
    //    height: 12px;
    //    background-image: url(#{$icon-path}/icon-call-end-w.svg);
    //}
    //
    //&-call-wait {
    //    width:34px;
    //    height: 23px;
    //    background-image: url(#{$icon-path}/icon-call-wait.svg);
    //}

    &-call-wait-w {
        width: 34px;
        height: 23px;
        background-image: url(#{$icon-path}/icon-call-wait-w.svg);
    }

    //&-record-start {
    //    width:35px;
    //    height: 35px;
    //    background-image: url(#{$icon-path}/icon-record-start.svg);
    //}
    //
    //&-record-start-w{
    //    width:35px;
    //    height: 35px;
    //    background-image: url(#{$icon-path}/icon-record-start-w.svg);
    //}
    //
    //&-record-stop {
    //    width:35px;
    //    height: 35px;
    //    background-image: url(#{$icon-path}/icon-record-stop.svg);
    //}
    //
    //&-record-stop-w{
    //    width:35px;
    //    height: 35px;
    //    background-image: url(#{$icon-path}/icon-record-stop-w.svg);
    //}
    //
    &-phone-call-blue {
        width: 23px;
        height: 23px;
        background-image: url(#{$icon-path}/icon-phone-call-blue.svg);
    }

    &-video-call-blue {
        width: 30px;
        height: 16px;
        background-image: url(#{$icon-path}/icon-video-call-blue.svg);
    }

    &-phone-call-ol {
        width: 23px;
        height: 23px;
        background-image: url(#{$icon-path}/icon-phone-call-ol.svg);
    }

    &-video-call-ol {
        width: 30px;
        height: 17px;
        background-image: url(#{$icon-path}/icon-video-call-ol.svg);
    }

    &-onCall{
        width: 23px;
        height: 23px;
        background-image: url(#{$icon-path}/icon-phone-call-ol.svg);
    }

    &-onVideoCall {
        width: 30px;
        height: 17px;
        background-image: url(#{$icon-path}/icon-video-call-ol.svg);
    }


    &-picture {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-picture.svg);
    }

    &-camera {
        width: 29.7px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-camera.svg);
    }

    &-movie {
        width: 22.4px;
        height: 28px;
        background-image: url(#{$icon-path}/icon-movie.svg);
    }

    &-video-grey {
        width: 30px;
        height: 16px;
        background-image: url(#{$icon-path}/icon-video-grey.svg);
    }

    &-template-grey {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-template-grey.svg);
    }

    &-gallery {
        width: 28px;
        height: 28px;
        background-image: url(#{$icon-path}/icon-gallery.svg);
    }

    &-voice-message {
        width: 20px;
        height: 29px;
        background-image: url(#{$icon-path}/icon-voice-message.svg);
    }
    
    &-send-white {
       width: 20px;
       height: 16px;
       background-image: url(#{$icon-path}/icon-send-white.svg);
    }
    
    &-x {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-x.svg);
    }
    &-x-white {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-x-white.svg);
    }
    //
    //&-x-sm{
    //    width: 14px;
    //    height: 14px;
    //    background-image: url(#{$icon-path}/icon-x.svg);
    //}
    
    &-fav-like{
       width: 18px;
       height: 16px;
       background-image: url(#{$icon-path}/icon-fav-like.svg);
    }
    
    //&-like-grey{
    //    width: 18px;
    //    height: 16px;
    //    background-image: url(#{$icon-path}/icon-like-grey.svg);
    //}
    //
    //&-record-pink{
    //    width: 30px;
    //    height: 42px;
    //    background-image: url(#{$icon-path}/icon-voice-message-pink.svg);
    //}

    &-recycle-grey {
        width: 23px;
        height: 28px;
        background-image: url(#{$icon-path}/icon-recycle-grey.svg);
    }

    &-free-page {
        width: 43px;
        height: 43px;
        background-image: url(#{$icon-path}/icon-free-page.png);
        background-size: contain;
    }

    &-plus-white {
        width: 28px;
        height: 28px;
        background-image: url(#{$icon-path}/icon-plus-white.svg);
    }

    &-write-pink {
        width: 17px;
        height: 19px;
        background-image: url(#{$icon-path}/icon-write-pink.svg);
    }

    &-check-pink {
        width: 18px;
        height: 13px;
        background-image: url(#{$icon-path}/icon-check-pink.svg);
    }
    //
    &-view {
        width: 14px;
        height: 10px;
        background-image: url(#{$icon-path}/icon-view.svg);
    }

    &-close {
        width: 14px;
        height: 14px;
        background-image: url(#{$icon-path}/icon-close.svg);
    }
    
    &-camera-pink {
       width: 32px;
       height: 28px;
       background-image: url(#{$icon-path}/icon-camera-pink.svg);
    }
    
    &-point-gold {
       width: 34px;
       height: 34px;
       background-image: url(#{$icon-path}/icon-point-gold.svg);
    }

    &-point {
        width: 30px;
        height: 30px;
        background-image: url(#{$icon-path}/icon-point.svg);
     }
    
    //&-warning-video-call {
    //    width: 35px;
    //    height: 26.1px;
    //    background-image: url(#{$icon-path}/icon-warning-video-call.svg);
    //}
    //
    //&-fav {
    //    width: 30px;
    //    height: 26px;
    //    background-image: url(#{$icon-path}/icon-fav.svg);
    //}

    &-chat-pink {
        width: 30px;
        height: 27.38px;
        background-image: url(#{$icon-path}/icon-chat-pink.svg);
    }
    
    &-notice-white {
       width: 18px;
       height: 23px;
       background-image: url(#{$icon-path}/notice-white.svg);
    }

    &-profile {
        width: 23px;
        height: 26px;
        background-image: url(#{$icon-path}/profile.svg);
     }
    
    &-online-notice{
       width: 25px;
       height: 30px;
       background-image: url(#{$icon-path}/icon-online-notice-fill.svg);
    }
    
    &-video-call-grey {
       width: 30px;
       height: 16px;
       background-image: url(#{$icon-path}/icon-video-call-grey.svg);
    }

    &-offVideoCall {
        width: 30px;
        height: 16px;
        background-image: url(#{$icon-path}/icon-video-call-grey.svg);
     }
    
    &-phone-call-grey{
       width:23px;
       height: 23px;
       background-image: url(#{$icon-path}/icon-phone-call-grey.svg);
    }
    
    &-offCall{
        width:23px;
        height: 23px;
        background-image: url(#{$icon-path}/icon-phone-call-grey.svg);
    }
    
    &-comment-ol{
       width:25px;
       height: 23px;
       background-image: url(#{$icon-path}/icon-comment-ol.svg);
    }
    
    &-fav-black{
       width:27px;
       height: 24px;
       background-image: url(#{$icon-path}/icon-fav-black.svg);
    }

    &-cloud-download {
        width: 27px;
        height: 28px;
        background-image: url(#{$icon-path}/icon-cloud-download.svg);
    }

    //&-cloud-download{
    //    width:27px;
    //    height: 28px;
    //    background-image: url(#{$icon-path}/icon-cloud-download.svg);
    //}
    //
    //&-comment-grey-ol{
    //    width: 32px;
    //    height: 26px;
    //    background-image: url(#{$icon-path}/icon-comment-grey-ol.svg);
    //}
    //
    &-post-pink {
       width: 19px;
       height: 17px;
       background-image: url(#{$icon-path}/icon-post-pink.svg);
    }
    
    //&-up{
    //    width: 13px;
    //    height: 13px;
    //    background-image: url(#{$icon-path}/UP.svg);
    //}
    //
    //&-down{
    //    width: 13px;
    //    height: 13px;
    //    background-image: url(#{$icon-path}/DOWN.svg);
    //}
    //
    //&-keep{
    //    width: 13px;
    //    height: 13px;
    //    background-image: url(#{$icon-path}/KEEP.svg);
    //}
    //
    //&-new{
    //    width: 13px;
    //    height: 13px;
    //    background-image: url(#{$icon-path}/NEW.svg);
    //}
    //
    &-time-white {
        width: 10px;
        height: 10px;
        background-image: url(#{$icon-path}/icon-time-white.svg);
    }

    &-time-grey {
        width: 10px;
        height: 10px;
        background-image: url(#{$icon-path}/icon-time-grey.svg);
    }
    
    &-minus{
       width: 20px;
       height: 2px;
       background-image: url(#{$icon-path}/icon-minus.svg);
    }

    &-trash-white {
        width: 18px;
        height: 22px;
        background-image: url(#{$icon-path}/recycle-bin-white.svg);
    }

    &-message-1 {
        width: 28px;
        height: 26px;
        background-image: url(#{$icon-path}/message-1.svg);
    }

    &-message-2 {
        width: 24px;
        height: 22px;
        background-image: url(#{$icon-path}/message-2.svg);
    }

    &-ranking-keep {
        width: 12px;
        height: 12px;
        background-image: url(#{$icon-path}/ranking_keep.svg);
    }

    &-ranking-down {
        width: 12px;
        height: 12px;
        background-image: url(#{$icon-path}/ranking_down.svg);
    }

    &-ranking-new {
        width: 12px;
        height: 12px;
        background-image: url(#{$icon-path}/ranking_new.png);
    }

    &-ranking-up {
        width: 12px;
        height: 12px;
        background-image: url(#{$icon-path}/ranking_up.svg);
    }

    &-msg-failed {
        width: 26px;
        height: 26px;
        background-image: url(#{$icon-path}/icon-msg-failed.png);
    }

    &-mobile {
        width: 23px;
        height: 40px;
        background-image: url(#{$icon-path}/mobile.svg);
    }

    &-caution {
        width: 25px;
        height: 25px;
        background-image: url(#{$icon-path}/caution.svg);
    }

    &-warning {
        width: 28px;
        height: 24px;
        background-image: url(#{$icon-path}/icon-warning.svg);
    }

    &-private {
        width: 24px;
        height: 24px;
        background-image: url(#{$icon-path}/private-img.svg);
    }

    &-tutorialStep3 {
        width: 50px;
        height: 50px;
        background-image: url(#{$icon-path}/call-bg.svg);
    }



}

