@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.thumbnail-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    line-height: 10px;
    border-radius: 50%;
    text-align: center;
    background: linear-gradient(304deg, #fc6767, $primary-color);
}

.thumbnail-img {
    width: 67px;
    height: 67px;
    border-radius: 5px;
}

.list-user-img {
    margin: 6px;
}

.text-link {
    font-size: $web-font-size;
    color: #9b9b9b;
    &:focus, &:hover {
        text-decoration: none;
        color: #9b9b9b;
    }

    span {
        border-bottom: 1px solid #9b9b9b;
    }
}

.msg-text {
    display: block;
    color: #9b9b9b;
    padding-left: 16px;
}

.btn-change {
    color: #bcbbbb;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #bcbbbb;
    border-radius: 15px;
    padding: 6px 7px;
    width: 50px;
    height: 30px;
    float: right;
}

.btn-default {
    background-color: #fff;
    border: 1px solid;
    border-image: linear-gradient(337deg, #fc6767, $primary-color);
    color: $primary-color;
}

.btn-sign-up {
    letter-spacing: 3px;
}

.pink-text {
    color: $primary-color;
}

.grey-text {
    color: #9b9b9b;
}

.user-img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.has_footer .k-main,
.k-main.has_footer {
    margin-bottom: 85px !important;
}
.k-header ~ .sub-header ~ .k-main {
    margin-top: 110px !important;
}

.k-main {
    width: 100%;
    margin-top: 55px !important;

    .arrow-right {
        height: 11px;
        margin-left: 12px;
        margin-bottom: 3px;
    }

    .form-upload {
        text-align: center;
        padding: 0 16px;
        .text {
            font-size: 16px;
            font-weight: 500;
            color: #000;
        }

        .status {
            font-size: 12px;
            color: #9b9b9b;
            text-align: left;
            border: 1px solid #efefef;
            border-radius: 5px;
            display: block;
            padding: 10px 10px 0 10px;
            margin-top: 20px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: -14px;
                left: 50%;
                margin-left: -10px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 14px solid #efefef;

            }

            &::after {
                content: "";
                position: absolute;
                top: -12px;
                left: 50%;
                margin-left: -10px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 14px solid #fff;

            }

            textarea {
                width: 100%;
                min-height: 60px;
                border: none;
                resize: none;
                &::placeholder {
                    font-size: 12px;
                    color: #9b9b9b;
                }
                &:focus {
                    outline: none;
                }
            }

            .number {
                position: absolute;
                right: 6px;
                bottom: 5px;
            }
        }
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 22px 0px;
        border-bottom: 1px solid #efefef;
        margin-bottom: 0;
        label {
            padding-left: 16px;
            margin-bottom: 0;
        }

        .form-group-left {
            float: left;
        }

        .form-group-right {
            float: right;
            padding-right: 16px;
            display: flex;
            align-items: center;
        }

        span {
            font-size: 16px;
            i {
                color: #9b9b9b;
                padding-left: 10px;
            }
        }

        input {
            padding: 0;
            border: none;
            &::placeholder {
                text-align: right;
            }
        }
    }

    .item {
        justify-content: space-between;
        display: flex;
        padding: 22px 0;
        border-top: 1px solid #efefef;
        span {
            &:nth-child(2) {
                position: absolute;
                right: 35px;
            }
        }
        i {
            color: #9b9b9b;
        }
    }

    .form-custom {
        width: 100%;
        border: none;
        padding: 22px 0;
        border-bottom: 1px solid #efefef;
    }

    .form-search {
        display: flex;
        border-bottom: 1px solid #efefef;
        align-items: center;
        padding: 22px 0;
        margin-bottom: 0;
        span {
            font-size: 16px;
            padding-left: 16px;
            padding-right: 10px;
            i {
                padding: 0;
                background: -webkit-linear-gradient(318deg, $primary-color, #fc6767);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        input {
            padding: 0 16px 0 0;
            border: none;
            width: 100%;
            &::placeholder {
                text-align: left;
                color: #9b9b9b;
            }
        }
    }

    .btn-search {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .region-slt {
        .region-name {
            color: $primary-color;
            border-bottom: 1px solid #efefef;
            background-color: #f8f8f8;
            label {
                margin-bottom: 0;
                font-size: $web-font-size;
                padding: 10px 15px;
            }
        }
    }

    .btn-notify {
        display: flex;
        border: none;
        position: fixed;
        z-index: 100;
        bottom: 83px;
        width: 100%;
        background-color: #7ed321;
        color: #fff;
        height: 70px;
        .user-img {
            position: relative;
            width: 35px;
            height: 35px;
            display: block;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
        .text-notify {
            text-align: left;
            left: 62px;
            right: 61px;
            font-size: $web-font-size;
            line-height: 18px;
        }

        span {
            position: absolute;
        }

        .arrow-right {
            right: 11px;
            top: 25px;
        }
    }

    .online-noti {
        .user-name {
            font-weight: 600;
        }
        .form-group {
            border: none;
        }
    }

}

.is_desktop  {
    .k-main {
        max-width: $max-with;
        margin: 0 auto;
    }
}
