$natural-primary-header-height: 55px;

.natural-primary-header {
    width: 100%;
    background: linear-gradient(315deg, #fc6767, #ec008c);
    color: white;
    position: relative;
    > .natural-wrapper {
        height: $natural-primary-header-height;
    }

    .natural-chat-header-dock-root {
        width: 100%;
        position: absolute;
        top: $natural-primary-header-height;
    }

    .natural-chat-gift-pool-root {
        .natural-gift-pool-header {
            height: $natural-primary-header-height;
        }
    }

    .natural-action-container {
        .natural-action-btn {
            width: 55px;
            height: 100%;
            cursor: pointer;
            .natural-deco {

            }
        }
        .natural-action-menu {
            position: relative;
        }

        .natural-action-back {

        }

        .natural-action-close {

        }
    }
}
