.natural-quick-middle {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.natural-quick-end {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.natural-quick-relative {
    position: relative;
}

.natural-quick-hidden {
    display: none;
}