@include screenMobile('.region-area');
.region-area {
    @include position-full-content;
    position: absolute;
    margin: 0 auto;
    z-index: 999;

    &__content {
        margin-top: $header-height;
        background-color: #fff;
    }
}

.region-group {
    &__title {
        position: relative;
        padding: 10px 15px;
        border-bottom: 1px solid #efefef;
        background-color: #f8f8f8;
        color: $primary-color;
    }

    &__check-all {
        @extend %background-button;
        color: #fff;
        border: none;
        border-radius: 70px;
        font-size: 12px;
        width: auto;
        height: 22px;
        position: absolute;
        right: 16px;
    }

    &__content {
        display: block;
    }

    &__item {
        position: relative;
        display: block;
        clear: both;
        border-bottom: 1px solid #efefef;
        margin: 0;
        padding: 10px 15px;
        cursor: pointer;

        &.has_label {
            padding-bottom: 25px;
        }
    }

    &__label {
        @include ellipsis;
        @include word-wrap;
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 50px 0 15px;
        font-size: 12px;
        color: #bcbbbb;

        &.is_hidden {
            display: none;
        }
    }

    &__checkbox {
        @include vertical-center-content;
        position: absolute;
        right: 15px;
    }
}
