.sidebar {
    background: white;

    &-right {
        .list-messages {
            &__item {
                position: relative;
                display: flex;
                align-items: center;
                padding: 10px 5px 10px 10px;
                border-bottom: 1px solid #ccc;
                color: #000;

                &.is_sent {
                    text-align: right;

                    .list-messages__msg {
                        text-align: left;
                        color: #fff;
                        background: linear-gradient(315deg, #fc6767, $primary-color);
                        border-radius: 7px 0 7px 7px;
                    }
                }

                &.is_deleted {
                    display: none;
                }

                &.is_deleting {
                    &::before {
                        @include position-full-content;
                        content: '';
                        position: absolute;
                    }

                    &:after {
                        @include center-content;
                        @include image-background;
                        z-index: 2;
                        content: '';
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        background-image: url("#{$image-path}/loading_spinner.gif");
                        background-size: cover;
                    }
                ;
                }
            }

            &__name {
                font-weight: bold;
                text-align: left;

                &:after {
                    content: '';
                    clear: both;
                }
            }

            &__time {
                float: right;
                font-size: 12px;
                display: inline-block;
                margin-right: 5px;
                color: #bcbbbb;
            }

            &__info {
                width: 100%;
                flex: 1 1 auto;
            }

            &__avatar {
                position: relative;
                width: 70px;
                min-height: 50px;
                flex: 0 0 auto;

                &-img {
                    @include vertical-center-content;
                    @include border-radius(50%);
                    width: 60px;
                    height: 60px;
                }
            }

            &__icon-unread {
                top: -9px;
                right: 12px;
                z-index: 2;
            }

            &__msg {
                @include word-wrap;
                @include multiline-ellipsis(12px, 1.5, 2, #fff);
                &:after, &:before {
                    display: none;
                }
                box-sizing: content-box;
                display: inline-block;
                margin-right: 5px;
                max-height: 32px;
                min-height: 15px;
                font-size: 12px;
                padding: 5px 10px 7px 10px;
                border-radius: 0 7px 7px;
                background-color: #efefef;

                a {
                    color: inherit;
                }
            }

            &__delete {
                position: relative;
                right: 0;
                background-color: #f4001e;
                width: 70px;
                align-items: center;
                text-align: center;
                padding: 15px 0;
                cursor: pointer;
            }
        }

        .none-display {
            opacity: 0.3 !important;
        }
    }

    &-options {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $primary-color;
        height: 55px;
        text-align: center;
        padding-top: 9px;
    }

    &-option__icon-unread {
        top: -8px;
        right: 27px;
        z-index: 2;
    }

    &-option__btn {
        max-height: 56px;
        background: transparent;
        border: none;
        position: relative;
        border-radius: 8px;
        -webkit-transition: all .3s;
        transition: all .3s;
        width: 33.3%;
        font-size: 10px;

        .icon-message-1 {
            &:after {
                @include border-radius(50%);
                position: absolute;
                content: '';
                width: 5px;
                height: 5px;
                background: #71d008;
                top: -1px;
                right: 33px;
                z-index: 1;
            }
        }
    }

    &-left {
        text-align: center;

        &__row {
            display: block;
            padding: 0 20px;
            flex-wrap: wrap;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &__item {
            float: left;
            margin-top: 15px;
            width: 33.3%;
            text-align: center;

            &:nth(2n+1) {
                float: none;
            }
        }

        &__icon {
            position: relative;
            line-height: 60px;
            display: block;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
            background-color: rgba(236, 0, 140, 0.05);

            .icon {
                position: absolute;
                @include center-content;
            }
        }

        .badge-left-menu {
            position: relative;
            top: -7px;
            right: 8px;
        }

        &__header {
            height: 280px;
            background: linear-gradient(309deg, rgba(252, 103, 103, 0.85), rgba(236, 0, 140, 0.85)), url("#{$image-path}/avatar-default.png");
            background-size: cover;
        }

        .top-icons {
            overflow: auto;
            padding-top: 20px;
            .setting-icon {
                float: left;
                margin-left: 10px;
            }
            .noti-icon {
                float: right;
                margin-right: 10px;
            }
        }

        .category {
            height: auto;
            background-color: #fff;
            text-align: center;
            font-size: 10px;
        }

        .user-account {
            text-align: center;
            padding-top: 45px;
            color: #fff;

            .points {
                padding: 5px 10px;
                background-color: #fff;
                border-radius: 20px;
                font-size: 12px;
                color: black;
            }
            .points .icon-point-gold {
                width: 16px;
                height: 16px;
                vertical-align: middle;
            }
        }

        .btn-back-top {
            width: 100%;
            max-width: 250px;
            margin: 30px auto 0 auto;
        }
    }
}

.is_desktop {
    .k-main {
        max-width: $max-with;
        margin: 0 auto;
    }
}
