.list-user {
    margin-top: 58px;
    overflow: auto;
    height: auto;
    width: 100%;
    margin-bottom: 10px;

    &.is_grid {
        display: flex;
        flex-wrap: wrap;

        .list-user {
            &__item {
                position: relative;
                width: $list-user-column-width;
                padding-bottom: $list-user-column-width;
                overflow: hidden;

                > a {
                    margin: 5px;
                }
            }

            &__box {
                @include position-full-content;
                position: absolute;
                border-radius: 4px;
                overflow: hidden;

                .user-name {
                    position: absolute;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.33);
                    height: 25px;
                    line-height: 25px;
                    padding-left: 8px;
                    width: 100%;

                    span {
                        color: #fff;
                        font-size: 12px;
                    }

                    .name {
                        float: right;
                        padding-right: 8px;
                        width: 60px;
                        text-align: center;
                    }
                }
            }

            &__thumbnail-icon {
                position: absolute;
                top: 5px;
                left: 5px;
                width: 18px;
                height: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 10px;
                border-radius: 50%;
                text-align: center;
                background: linear-gradient(304deg, #fc6767, $primary-color);
            }
        }
    }

    &.is_list {
        .list-user {
            &__item {
                display: flex;
                margin: 0;
                padding-top: 10px;
            }

            &__thumbnail {
                padding: 0 20px 10px;
                position: relative;
            }

            &__thumbnail-img {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
            }

            &__thumbnail-icon {
                position: absolute;
                top: 0;
                left: 15px;
                background-color: $primary-color;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
            }

            &__info {
                position: relative;
                border-bottom: 1px solid #e0e0e0;
                width: 100%;
                overflow-x: hidden;

                p {
                    margin-bottom: 0;
                }

                .icon-received {
                    float: right;
                    margin-right: 15px;
                }
            }

            &__name {
                font-size: 16px;
                margin-bottom: 0;
                font-weight: 600;
            }

            &__message {
                @include ellipsis;
                @include word-wrap;
                position: relative;
                width: 100%;
                padding-right: 28px;
                font-size: 12px;
                text-transform: unset !important;

                .icon {
                    position: absolute;
                    right: 0;
                }
            }

            &__times {
                position: absolute;
                right: 15px;
                font-size: 12px;
                line-height: 12px;
                color: #bcbbbb;

                .icon {
                    margin: 0 3px 0 5px;
                }
            }
        }
    }

    a {
        color: #000000;
    }
}


$list-user-column-number: 5;
$list-user-column-width: 20%;
$list-user-column-margin: (100% - $list-user-column-width*$list-user-column-number)/($list-user-column-number+1);

.is_tablet, .is_desktop  {
    .list-user {
        &.is_grid {
            .list-user__item {
                position: relative;
                width: $list-user-column-width;
                padding-bottom: $list-user-column-width;
            }
        }
    }
}
