@import "variables";

@mixin crossBrowser($property, $css) {
    -webkit-#{$property} : $css;
    -moz-#{$property} : $css;
    -o-#{$property} : $css;
    #{$property} : $css;
}

@mixin screenMobile($selector) {
    .is_desktop #{$selector} {
        height: 100%;
        width: 100%;
        max-width: $max-with;
        margin: 0 auto;
    }
}

@mixin safariFixed($selector) {
    .is_mobile.is_safari #{$selector}, .is_safari#{$selector} {
        position: fixed;
    }
}

// Transitions
@mixin transition($transition...) {
    -webkit-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

// Drop shadows
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
    box-shadow: $shadow;
}

// Box sizing
@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}

// Border radius
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

// Place holder text
@mixin placeholder($color: $input-color-placeholder) {
    // Firefox
    &::-moz-placeholder {
        color: $color;
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }

    &:-ms-input-placeholder {
        color: $color;
    }
    // Internet Explorer 10+

    &::-webkit-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
}

// Box shadow for all side of element
@mixin all-side-box-shadow($color) {
    $color-rgba: rgba(red($color), green($color), blue($color), .6);
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px $color-rgba);
}

@mixin user-select($select) {
    -webkit-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select; // IE10+
    user-select: $select;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

// Transfrom
@mixin transform($transform...) {
    -ms-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($transform-origin...) {
    -ms-transform-origin: $transform-origin;
    -webkit-transform-origin: $transform-origin;
    -o-transform-origin: $transform-origin;
    transform-origin: $transform-origin;
}

// Image
@mixin img-responsive($display: block) {
    display: $display;
    max-width: 100%;
    height: auto;
}

@mixin image-background() {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// Gradients
@mixin gradient-horizontal-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
    background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
    background-image: -o-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-horizontal-two-colors($start-color: #00b3ee, $end-color: #7a43b6) {
    background-image: -webkit-linear-gradient(left, $start-color, $end-color);
    background-image: -o-linear-gradient(left, $start-color, $end-color);
    background-image: linear-gradient(to right, $start-color, $end-color);
    background-repeat: no-repeat;
}

// Translate
@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y); // IE9 only
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

// Animations
@mixin animation($animation...) {
    -webkit-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin keyframe($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-o-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

// Flexbox
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

// Flexbox justify content
// From https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Advanced_layouts_with_flexbox#Flexbox_Justify_Content
@mixin flex-just($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == space-between {
        -webkit-box-pack: justify;
        -font-box-pack: justify;
        -ms-flex-pack: justify;
    } @else if $value == space-around {
        -ms-flex-pack: distribute;
    } @else {
        -webkit-box-pack: $value;
        -moz-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    justify-content: $value;
}

@mixin custom-scrollbar ($with: 3px) {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        width: $with;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: $with * 2;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $with * 2;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
}

@mixin cursor-pointer {
    &:hover {
        cursor: pointer;
    }
}

@mixin background-opacity($color, $opacity: 0.5) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin word-wrap() {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

@mixin position-full-content() {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@mixin multiline-ellipsis($font-size, $line-height, $max-line, $background-color) {
    overflow: hidden;
    position: relative;
    line-height: $line-height;
    max-height: $font-size * $line-height * $max-line;

    &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: $background-color;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        background-color: $background-color;
    }
}

@mixin ellipsis() {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin vertical-center-content() {
    @include transform(translateY(-50%));
    top: 50%;
}

@mixin horizontal-center-content() {
    @include transform(translateX(-50%));
    left: 50%;
}

@mixin up-down-animation($startPosition, $endPosition, $time) {
    @include keyframe(museUpDown) {
        0% {
            top: $startPosition;
        }
        50% {
            top: $endPosition;
        }
        100% {
            top: $startPosition;
        }
    }

    @include animation(museUpDown $time linear infinite);
}

@mixin center-content() {
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

%background-button {
    box-shadow: 0 16px 24px -19px rgba(187, 55, 101, 0.6);
    background-image: linear-gradient(110deg, $primary-color, #fc6767) !important;
    color: #fff;
}

%background-button-2 {
    background: -webkit-linear-gradient(135deg, #fc6767, #ec008c);
    background: linear-gradient(315deg, #fc6767, #ec008c);
    color: #fff;
}

@mixin full-screen-loading {
    &:before {
        @include position-full-content;
        @include background-opacity(#000, 0.1);
        content: '';
        position: absolute;
        z-index: 9998;
    }

    &:after {
        @include center-content;
        @include image-background;
        z-index: 9999;
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url("#{$image-path}/loading_spinner.gif");
        background-size: cover;
    };
}

@mixin not-copy-image {
    position: relative;

    &:after {
        @include position-full-content;
        content: '';
        position: absolute;
    };
}
