$image-path: '~@statics/images' !default;
$icon-path: '~@statics/icons' !default;

$max-with: 768px !default;
$max-width: 768px;
$web-font-size: 14px;

// variables for body
$white: #ffffff;
$body-background: #ffffff;
$badge-background: #71d008;

$neutral-color: #efefef;
$primary-color: #ec008c !default;
$contrast-color: #3f5bfc;

// variables for header
$header-height: 55px;

// variables for footer
$footer-height: 100px;

$padding-base: 15px !default;

$form-padding: 15px !default;

$input-color-placeholder: #9b9b9b;

$square-width: 32%;
$square-margin: (100% - $square-width*3)/4;

$list-user-column-number: 3;
$list-user-column-width: 33.3%;
$list-user-column-margin: (100% - $list-user-column-width*$list-user-column-number)/($list-user-column-number+1);


// variables for loading
$ph-bg:                   #fff !default;
$ph-color:                #ced4da !default;
$ph-border-radius:        2px !default;

$ph-gutter:               30px !default;
$ph-spacer:               15px !default;

$ph-avatar-border-radius: 50% !default;
