@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.loading-full {
    @include full-screen-loading;
}

.is_desktop .notification-bottom {
    @include horizontal-center-content;
    max-width: $max-with;
}

.notification-bottom {
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
    min-height: 70px;
    background-color: #7ed321;
    color: white;
    cursor: pointer;

    &__icon {
        min-width: 70px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__avatar {
        @include border-radius(50%);
        position: relative;
        width: 50px;
        height: 50px;

        overflow: hidden;
    }

    &__message {
        text-align: left;
        width: 100%;
    }

    &__arrow {
        min-width: 50px;
        text-align: center;
    }
}

.notification-transition-enter {
    height: auto;
}

.notification-transition-enter.notification-transition-enter-active {
    opacity: 1;

    transition: opacity 500ms ease-in, height 500ms ease-in, transform 500ms ease-in;
}

.notification-transition-leave {
    opacity: 1;
    height: auto;
}

.notification-transition-leave.notification-transition-leave-active {
    opacity: 0.01;
    height: 0 ;
    transition: opacity 300ms ease-in;
}


.chat-root {
    &__loading {
        @include full-screen-loading;
    }

    &__msg {
        @include horizontal-center-content;
        position: fixed;
        z-index: 99;
        bottom: 15px;
        border-radius: 3px;
        display: block;
        padding: 5px 15px;
        background: rgba(0, 0, 0, 0.53);
        color: white;
    }
}
