@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.home-page {
    &__logo {
        position: absolute;
        @include center-content;
    }
}

.k-main .list-user .thumbnail-user .notify {
    top: 5px;
    right: 5px;
}

.sidebar-left .sidebar-left__item {
    cursor: pointer;
}

body.sidebar_open {
    @include background-opacity(#000, 0.5);
    overflow: hidden !important;
    -webkit-touch-callout: none;
    width: 100%;

    .sidebar__parent {
        position: fixed;
        left: 0;
        right: 0;
        overflow: hidden !important;
        -webkit-touch-callout: none;
        width: 100%;
        min-height: 100vh;
        background: #fff;

        &:before {
            @include position-full-content;
            @include background-opacity(#000, 0.5);
            content: '';
            position: fixed;
            z-index: 111;
        }
    }
}

.is_desktop .main-layout {
    max-width: $max-with;
    margin: 0 auto;
}

body.is_desktop.sidebar_open .sidebar__parent {
    max-width: $max-with;
    margin: 0 auto;
    overflow: unset !important;
}

.sidebar {
    background: white;

    &__overlay {
        width: 100vw !important;
    }
}
