@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.setting-call-page {
    .btn-done {
        position: fixed;
        right: 20px;
        top: 16px;
        border: 1px solid #fff;
        background-color: rgba(0,0,0,0);
        color : #fff;
        border-radius: 2px;
        z-index: 101;
    }
    .text-note {
        font-size: $web-font-size;
        line-height: 1.5;
        letter-spacing: -0.6px;
        color: #4a4a4a;
        text-align: left;
        padding-left: 20px;
        margin: 8px 0;
    }
    .text-note span{
        font-size: 14px !important;
        line-height: 1.5;
        letter-spacing: -0.6px;
        color: #4a4a4a;
        text-align: left;
    }
    .icon-minus {
        top: 42px;
        right: 20px;
    }
    .msg-text {
        padding: 0;
        font-size: 12px !important;
        letter-spacing: -0.5px;
        color: #f4001e;
    }
    .app-comment {
        padding: 20px 20px;
    }
    .comment {
        margin-top: 10px;
        position: relative;
        font-size: 12px;
        color: #9b9b9b;
    }
    .comment textarea {
        width: 100%;
        min-height: 100%;
        border: none;
        resize: none;
        padding: 10px;
        border: 1px solid #efefef;
        border-radius: 5px;
        height: 95px;
        outline: none;
    }
    .comment textarea::after {
        display: block;
        color: red;
        content:'アダルトな内容や規約に違反する内容は公開されません。';
    }

    .comment .number {
        position: absolute;
        right: 9px;
        bottom: 9px;
    }
    .comment ::placeholder {
        color: #bbbaba;
    }
    .list-setting-noti {
        padding-left: 10px !important;
    }
    .msg-notice {
        color : #93BFEE !important;
    }
    .icon-circle {
        display: block;
        border-radius: 50%;
        background-color: #e0e0e0;
        width: 24px;
        height: 24px;
    }
    .icon-check {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../../statics/icons/check-box.svg);
    }

    .icon-check:after {
        content: '';
        position: absolute;
        top: 7px;
        left: 5px;
        width: 11px;
        height: 5px;
        background: transparent;
        border: 2px solid #fff;
        border-width: 1px;
        border-top: none;
        border-right: none;
        border-radius: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .alert-reviewed {
        border-radius: 43px;
        min-width: 240px;
        min-height: 108px;
        text-align: center;
        padding: 16px;
    }

    .title-reviewed {
        border-bottom: 1px solid #efefef;
        padding-bottom: 15px;
    }
    .btn-reviewed {
        border : none;
        background-color: transparent;
        margin: 0 auto;
        padding-top: 10px;
        color : #ef0b85;
    }
    .timeAppear {
        position: relative;
        display: flex;
        margin-top: 10px;
        padding: 0 15px;
        justify-content: space-between;

        select {
            display: block;
            width: 100%;
            color: #000;
            border: 0;
            outline: 0;
            -webkit-appearance: none; /*Removes default chrome and safari style*/
            -moz-appearance: none;
            background: transparent;

            &:disabled {
                color: #ccc;
            }
        }

        .form-group-right {
            position: absolute;
            right: 0;
        }
    }

    .placeHolder {
        position: absolute;
        left: 10px;
        top: 11px;
    }
    .list-setting-noti {
        padding: 0 !important;
        width: 200px;
        div div{
            padding-left: 0 !important;
        }
    }
}

.bonus-popup-setting-call {
    background-color: rgba(0, 0, 0, 0.8) !important;
    touch-action: none;

    &__content {
        position: absolute;
        text-align: center;
        @include position-full-content;
        margin: 50px 0px 150px;
        @include image-background;
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
        margin-top: 20px;
    }

    &__btn {
        @extend %background-button;
        display: block;
        margin: 20px auto 0 auto;
        width: 100%;
        max-width: 300px;
        height: 50px;
        border-radius: 25px;
        text-align: center;
        border: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .tutorial-setting-call {
        top : 33% !important;
        text-align: center;
        font-size: 16px;
    }

    .tutorial-setting-call__title {
        color : #e6d815;
        font-weight: bold;
        padding: 0px 20px;
    }

    .tutorial-setting-call__content {
        color : #fff;
        margin-top: 20px;
        padding: 0px 20px;
    }

    .tutorial-setting-call__step2 {
        margin-top: 210px !important;
    }

    .tutorial-setting-call__step1 {
        margin-top: -20px;
        .main-content {
            margin-top: 0 !important;
        }
    }

    .group-btn-tutorial {
        position: absolute;
        bottom: 10%;
        right: 45%;
        width: 100%;
    }

    .btn-next-step2 {
        position: absolute;
        bottom: 0;
        left : 63% ;
        min-width: 67%;
        min-height: 50px;
        border: none;
        background-image: linear-gradient(110deg, #ec008c, #fc6767);
        color: #fff;
        border-radius: 29px;
    }
    .btn-cancel-tutorial {
        position: absolute;
        left : 63% ;
        min-width: 66%;
        min-height: 50px;
        border: none;
        background-color : transparent;
        color: #8a8888;
        border-radius: 29px;
        font-size: 13px;
    }
    .slick-arrow {
        display: none!important;
    }

    .slick-dots button:before {
        color : #fff;
        opacity: 1;
    }

    .slick-dots li.slick-active button:before {
        color : #ff0068 !important;
        font-size: 10px;
        opacity: 1 !important;
    }
    .header-tutorial-btn {
        position: relative;
        left: 88%;
        top: -30px;
        color : #fff;
        background-image: linear-gradient(110deg, #ec008c, #fc6767);
        border : 1px solid #fff;
        border-radius: 4px;
    }
    .message-step1 {
        text-align: center;
        color: #fff;
        padding: 20px;
        display: inline-block;
    }

    .btn-cancel-step1 {
        min-width: 75%;
        min-height: 50px;
        color: #fff;
        border-radius: 29px;
        font-size: 13px;
        margin: 20px;
        display: inline-block;
        background-color: transparent;
        border : 1px solid #fff;
    }
    .img-step2 {
        margin-top: 115px;
    }
    .message-step2 {
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px;
        color : #fff;
        padding: 15px;
    }
    .btn-cancel-step2 {
        background-image: linear-gradient(110deg, #ec008c, #fc6767) !important;
        border: none !important;
    }
    .form-group {
        background-color: #fff;
        text-align: left;
    }
    .hightlight {
        color: #F8E71C;
    }

    .form-group.is_open {
        border: none;
        background-color: #f8f8f8;
    }
}


.form-group.is_open {
    border: none;
    background-color: #f8f8f8;
    padding-bottom: 10px;
}

.setting-checkbox {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 15px;
        border-top: 1px solid #efefef;
    }

    &__item {
        position: relative;
        flex-grow: 1;
        flex: 1 1 33%;

        label {
            margin-right: 15px;
        }
    }
}

.setting-call-time {
    &__box {
        padding: 0 20px;
        display: none;
        border-bottom: 1px solid #efefef;
        background-color: #f8f8f8;

        &.is_open {
            display: block;
        }
    }

    &__note {
        font-size: 12px;
        margin-bottom: 20px;
        color: #4a4a4a;
    }
}

.is_tablet .tutorial-setting-call__step2 {
    margin-top: 245px;
}


.setting-call__btn-toggle {
    width: 45px;
    line-height: 45px;
    cursor: pointer;
}
