@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.profile-page-detail-image {
    .icon {
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .my-photo {
        width: 100%;
        height: 57vh;
        position: absolute;
        margin: 30px auto 0;
        overflow: hidden;
    }

    .bottom-menu-option {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        button,
        a {
            display: inline-block;
            width: 20%;
            padding: 0;
        }

    }

    .button-link-message {
        margin-top: 20px;
    }

    .bottom-menu-option {

        button,
        a {
            display: inline-block;
            width: 20%;
            padding: 0;
        }
    }

    .gallery-user-btn {
        border: none;
        background-color: transparent;
    }

    .btn-like {
        margin-top: 20px;
    }

    .btn-download {
        margin-top: 10px;
    }

    .btn-report {
        margin-top:20px;;
    }

    .avatar-user {
        width: 50px;
        height: 50px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        margin-top: 20px;
    }

    .btn-delete-photo {
        text-align: center;
        position: absolute;
        bottom: 59px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: transparent;
        border: none;

        i {
            margin: 14px;
        }
    }
}

.img-avatar {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.profile-page-detail-image {
    .bottom-menu-option .d-title {
        font-size: 12px;
        text-align: center;
        color: #636166;
    }

    .gallery-user-btn {
        border: none;
        background-color: transparent;
    }
}

.download-btn {
    cursor: pointer;
}

.profile-page-detail-image {
    .bottom-menu-option {

        button,
        a {
            display: inline-block;
            width: 20%;
            padding: 0;
        }
    }

    .gallery-user-btn {
        border: none;
        background-color: transparent;
    }

    button {
        background: transparent;
        border: none;
    }

    .icon-comment-ol {
        margin-top: 20px;
    }

    .d-title {
        display: block !important;
    }
}

.profile-report {
    padding: 50px 50px 50px 20px;
    height: 290px;
}


.bottom-menu-option {
    height: 98px;
    display: flex;
    justify-content: space-between;

    button {
        display: inline-block;
        width: 20%;
        padding: 0;
    }
    .d-title {
        font-size: 12px;
        text-align: center;
        color: #636166;
    }
    .icon {
        width: 28px !important;
        height: 31px !important;
        background-position: center center;
        background-size: 100%;
    }
}
.bottom-menu-item {
    display: flex;
    width: 20%;
    justify-content: center;
    flex-direction: row;

    .img-avatar {
        width: 50px;
        height: 50px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

}