@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.call-log {
    &__item {
        height: 80px;
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
    }

    &__link {
        padding-left: 20px;
        display: flex;
        align-items: center;
        flex: 1;
    }

    &__info {
        &-date {
            display: block;
            font-size: 11px;
            color: #bcbbbb;
        }

        &-user-name {
            display: block;
            font-weight: 600;
            color: #000;
        }

        &-time {
            font-size: 12px;
            color: #bcbbbb;
            display: flex;
            align-items: center;
            i {
                margin-right: 3px;
            }
        }
    }

    &__group-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button {
        cursor: pointer;
        display: flex;
        width: 80px;
        height: 60px;
        align-items: center;
        justify-content: center;
    }

    &__avatar {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
}
