@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.natural-chat-announce {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
}

body.is_desktop.modal_open .natural-chat-container-root {
    @include horizontal-center-content;
    max-width: $max-width;
}
