@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

button {
    background-color: transparent;
    border: none;
}

.profile-icon {
    position: absolute;
    right: 66px;
    line-height: 55px;
}

.etc-menu-icon {
    position: absolute;
    right: 114px;
    line-height: 55px;
}

.msg-box { 
    float:left;
    margin-bottom: 50px;
    width: 100%;
    .date {
        font-size: 11px;
        text-align: center;
        color: #9b9b9b;
        padding-top: 20px;
    }
    .msg-content img {
        margin: 20px 20px 0px 20px;
    }

    .msg-list {
        position: relative;
        margin-top: 20px;
        .msg-recieved {
            float: left;
            margin-bottom: 28px;
            width: 100%;
            padding: 0px 20px;
            .msg-content {
                margin: 0;
                max-width: 204px;
                //min-height: 50px;
                padding: 5px 10px;
                background-color: #efefef;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                font-size: 14px;
            }
            .msg-sticker {
                float:left;
            }
            .msg-info {
                display: flex;
                float: left;
                align-items: flex-end;
            }
            .time {
                font-size: 14px;
                color: #ec008c;
                display: block;
                text-align: center;
           }
        }

        .msg-sent {
            float: right;
            //width: 100%;
            padding: 0px 20px;
            margin-bottom: 28px;
            .msg-content {
                //max-width: 256px;
                //min-height: 50px;
                padding: 5px 10px;
                background:linear-gradient(315deg, #fc6767,#ec008c);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                font-size: 14px;
                color: #fff;
                margin: 0;
            }
            .msg-sticker {
                float:right;
            }
            .msg-info {
                display: flex;
                float: right;
                align-items: flex-end;
            }
            .time {
                font-size: 14px;
                color: #fff;
                display: block;
                text-align: center;
           }


        }

        .msg-avt {
            float: left;
            margin-right: 10px;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            overflow: hidden;
            img {
                width: 100%;
            }
        }

        .msg-time {
            font-size: 11px;
            color:#bcbbbb;
            padding: 0px 8px;
        }

    }

}

.tab-bottom {
    position: relative;
}

.btn-icons {
    position: absolute;
    left: 54px;
}

input {
    position: absolute;
    left: 91px;
    &::placeholder {
        font-size: 14px;
        color: #bcbbbb;
    }
}

.btn-chat-call {
    background:linear-gradient(#87a5ff, #3552fb);
    width:34px;
    height:34px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    .icon-phone-call-lg {
        width: 16.5px;
        height: 16.6px;
    }
}
.icon-smile {
    width: 21px;
    height: 21px;
}
.icon-phone-white {
    width: 16.5px;
    height: 16.6px;
}

.menu {
    position: absolute;
    width: 100%;
}

.menu-top {
    height: 90px;
    background-color: #f8f8f8;
    text-align: center;
    padding-top: 20px;
    span {
        font-size: 12px;
        padding-top: 14px;
    }

    button {
        //padding: 12px 20px;
        width: 25%;
        background: transparent;
        border: none;
        border-radius: 8px;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .icon-heart-ol-sm{
        width: 24.9px;
        height: 22px;
    }
}

.overlay{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 214px;
    background: rgba(0,0,0,0.7);
    z-index: 200;
    transition: opacity 0.25s ease-in-out;
}

.type-box {
    height: 83px;
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    padding-top: 14px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    position: relative;
}

.btn-add {
    position: absolute;
    left: 20px;
}
.btn-icons {
    position: absolute;
    left: 54px;
}
input {
    position: absolute;
    left: 91px;
    caret-color: #ec008c;
    &::placeholder {
        font-size: 14px;
        color: #bcbbbb;
    }
}

.btn-chat-call {
    background:linear-gradient(#87a5ff, #3552fb);
    width:34px;
    height:34px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    .icon-phone-call-lg {
        width: 16.5px;
        height: 16.6px;
    }
}

.menu-call {
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    img {
        margin-right: 14px;
    }
    span {
        color: #3552fb;
        font-size: 14px;
        display: block;
        text-align: left;
        float: right;
    }
    button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.type-box {
    background-color: #fff;
    margin: 0;
    padding-left: 0;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 83px;
    z-index: -1;
    display: flex;
    align-items:center;
}

.btn-keyboard {
    position: absolute;
    left: 20px;
}
.btn-icons {
    position: absolute;
    left: 54px;
}
input {
    position: absolute;
    left: 91px;
    &::placeholder {
        font-size: 14px;
        color: #bcbbbb;
    }
}

.btn-chat-call {
    background:linear-gradient(#87a5ff, #3552fb);
    width:34px;
    height:34px;
    border-radius:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    .icon-phone-call-lg {
        width: 16.5px;
        height: 16.6px;
    }
}

.menu-option {
    background-color: #f8f8f8;
}

.menu-option-row {
    padding: 20px 0px;
    overflow: auto;
    &:last-child {
        padding: 10px 0px;
    }
    .item-content{
        color:#ec008c;
        font-size: 16px;
    }
    .item-title {
        display:block;
        font-size: 12px;
        padding-top: 8px;
    }
}

.menu-option-item {
    width: 33.33333%;
    float: left;
    text-align: center;
}

.btn-record {
    width: 220px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 7px 14px -12px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(107deg, #87a5ff, #3552fb);
    position: absolute;
    bottom: 15px;
    right:62px;
    font-size: 14px;
    color:#fff;

    .icon-phone-call-lg {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }
}

.hide {
    display: none;
}
.show {
    display: block;
}
.btn-recording {
    width: 220px;
    height: 50px;
    border-radius: 30px;
    border:1px solid #3552fb;
    box-shadow: 0 7px 14px -12px rgba(0, 0, 0, 0.5);
    background-color:#fff;
    position: absolute;
    bottom: 23px;
    right:62px;
    font-size: 14px;
    color: #3552fb;
    i {
        width: 22px;
        height: 22px;
        margin-right: 7px;
    }
}
