@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.online-alert {
    &__loading {
        @include full-screen-loading;
    }

    &__note {
        font-size: 12px;
        text-align: center;
        color: #6b6565;
        margin-top: 60px;
    }

    .list-user {
        margin-top: 10px !important;
        width: 100%;
        margin-bottom: 10px;

        .list-user__info {
            position: relative;
            border-bottom: 1px solid #e0e0e0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .username {
                display: block;
                flex: 1 1 auto;
            }

            .setting-online {
                text-align: right;
                min-width: 80px;
                flex: 0 0 auto;
            }
        }

        .button-setting {
            float: right;
            margin-right: 20px;
            border: 2px solid #ccc;
            color: #585353;
            border-radius: 30px;
            background: transparent;
            min-width: 60px;
        }
    }

    .form__group-input {
        padding-right: 16px;
    }

    .is_disable .form__label {
        color: #000;
    }

    .is_disable select {
        color: #f57cc3 !important;
    }
}
