@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

@include screenMobile('.register-profile');
.register-profile {
    position: relative;
    padding-top: 20px;


    &__loading {
        @include full-screen-loading;
    }

    .btn-custom {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .btn-submit-form {
        display: flex;
        margin-bottom: 26px;
    }

    .upload-img {
        position: relative;
        display: block;
        margin: 50px auto 17px auto;
        overflow: hidden;
        input {
            @include center-content;
            position: absolute;
            opacity: 0;
            cursor: pointer;
            outline: none;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            z-index: 3;
        }
    }

    .form__group-input {
        textarea {
            width: 100%;
            min-height: 60px;
            border: none;
            resize: none;
            &:focus {
                outline: none;
            }
        }
        textarea::placeholder {
            font-size: 12px;
            color: #9b9b9b;
        }
    }

    .preview-avatar::before {
        background-image: url(#{$icon-path}/upload-img-b.svg);
    }
    .inputIntro {
        padding-left: 15px !important;
        width: 100%;
        min-height: 40px;
        border: none;
        resize: none;
    }
    .inputSelect {
        text-align: right;
    }
    .modal-dialog {
        margin-top: 100px !important;
    }
    .modal-header {
        display: block !important;
        background: linear-gradient(315deg, #fc6767, $primary-color);
    }
    .border-t {
        border-top: 1px solid #efefef;
    }
    .border-b {
        border-bottom: 1px solid #efefef;
    }
    .modal-body {
        height: 310px;
        overflow-y: scroll;
    }
    .form-group-text {
        padding: 20px 0 10px 20px;
    }
    .text-require {
        font-size: 12px;
        color: black !important;
    }
    .icon-important {
        color: #f4001e;
    }
    .d-block {
        padding-bottom: 0 !important;
    }
    .box-modal {
        min-width: 500px;
        min-height: 100px;
    }
    #simple-dialog-title {
        display: block !important;
        background: linear-gradient(315deg, #fc6767, $primary-color);
        h2 {
            color: white;
        }
    }
    .placeHolder {
        position: absolute;
        left: 10px;
        top: 11px;
    }
    .edit-profile-avatar {
        position: relative;
        width: 100px;
        height: 100px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
    }

    .k-main .form-upload {
        text-align: center;
        padding: 0 16px;
        .text {
            font-size: 15px;
            font-weight: 300;
            color: #000;
        }

        .is-circle {
            border: unset;
        }

        .status-edit-profile {
            font-size: 12px;
            color: #9b9b9b;
            text-align: left;
            border: 1px solid #efefef;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 5px;
            display: block;
            padding: 10px 10px 0 10px;
            margin-top: 20px;
            position: relative;
            textarea {
                width: 100%;
                min-height: 60px;
                border: none;
                resize: none;
                &:focus {
                    outline: none;
                }
            }
            textarea::placeholder {
                font-size: 12px;
                color: #9b9b9b;
            }
            .number {
                position: absolute;
                right: 6px;
                bottom: 5px;
            }
        }
        .status-edit-profile::before {
            content: "";
            position: absolute;
            top: -14px;
            left: 50%;
            margin-left: -10px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 14px solid #efefef;
        }
        .status-edit-profile::after {
            content: "";
            position: absolute;
            top: -12px;
            left: 50%;
            margin-left: -10px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 14px solid #fff;
        }
    }
    .fade:not(.show) {
        opacity: 1 !important;
        background: transparent;
    }
    .header-breadcrumb {
        text-align: center;
    }
    .breadcrumb {
        list-style: none;
        padding-top: 10px;
        padding-left: 0;
    }
    .breadcrumb li {
        display: inline-block;
        font-size: 11px;
        position: relative;
        width: 105px;
    }
    .breadcrumb li div {
        display: block;
        margin-left: 35px;
        margin-bottom: 10px;
    }
    .breadcrumb li::before {
        content: ".......................";
        color: #ec008c;
        position: relative;
        left: 50px;
        top: 20px;
    }
    .breadcrumb li:last-child {
        &::before {
            content: "";
        }
    }

    .number-active {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: linear-gradient(135deg, #ec008c, #fc6767);
        color: #fff;
        text-align: center;
        border-radius: 100%;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        padding-top: 2px;
    }
    .number-default {
        width: 30px;
        height: 30px;
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid #ec008c;
        color: #ec008c;
        text-align: center;
        border-radius: 100%;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        padding-top: 2px;
    }
}

.img-input-preview {
    position: absolute;
    visibility: hidden;
    bottom: 100%;

    &.is_hide {
        display: none;
    }
}
