@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.natural-chat-header-root {
    color: white;
    z-index: 1;
    > .natural-wrapper {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .natural-title {
        font-weight: bold;
        text-align: left;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        @include ellipsis;

        .natural-text-wrapper {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 200px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            color: white;
        }
    }

    .natural-actions {
        padding-right: 13px;
        .natural-action-item {
            margin-left: 25px;
            width: 20px;
            cursor: pointer;
            .natural-deco {
                height: 20px;
            }

            .icon-unread {
                top: 10px;
                right: 5px;
            }
        }
    }
}
