@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.keep-header-profile {
    .profile-tabs {
        position: fixed;
        z-index: 1;
        top: 55px;
        width: 100%;
    }

    &.is_desktop {
        .profile-tabs {
            max-width: $max-width;
        }
    }
}

.profile-page {
    &__loading {
        @include full-screen-loading;
    }

    .user-profile .icon-delete {
        width: 12px !important;
        height: 12px !important;
    }

    .buzz__not-data {
        text-align: center;
        min-height: 150px;
        color: #bcbbbb;
        margin-top: 10px;
    }

    .tabs {
        ul {
            clear: left;
            box-shadow: none;

            li {
                width: 50%;
            }
        }
        .notify {
            top: 10px;
        }

    }

    &__cover {
        height: 375px;
        overflow: hidden;
        position: relative;

        .nav-bar {
            position: absolute;
            width: 100%;
            top: 0;
            padding-top: 20px;
            height: 55px;
        }
        .back {
            position: absolute;
            left: 20px;
        }
        .etc-menu-icon {
            position: absolute;
            right: 114px;
        }
        .profile-icon {
            position: absolute;
            right: 66px;
        }
        .chat-icon {
            position: absolute;
            right: 20px;
            img {
                width: 22px;
                position: relative;
            }
            .notify {
                top: -3px;
                right: -7px;
            }
        }
        .online-icon {
            margin-right: 3px;
            width: 8px;
            height: 8px;
        }
        .offline-icon {
            margin-right: 3px;
            width: 8px;
            height: 8px;
        }
        .arrow-buttons {
            position: absolute;
            width: 100%;
            top: 160px;
            display: flex;
            justify-content: space-between;
            padding: 0px 15px;
            margin-left: 7px;
            span {
                width: 30px;
                height: 30px;
                margin: 10px;
            }
        }
        .bottom {
            z-index: 1;
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 50px 15px 0 20px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(255, 255, 255, 0) 100%);
            .user-status {
                color: #fff;
                font-size: 12px;
                display: inline-block;
                align-items: center;
                padding-bottom: 5px;
            }
            .info {
                display: flex;
                justify-content: space-between;
                padding-bottom: 10px;
                align-items: flex-end;
                width: 100%;
                .info-left {
                    font-size: 12px;
                    color: #fff;
                    p {
                        word-break: break-all;
                        margin: 0;
                    }
                }
                .info-right {
                    font-size: 10px;
                    color: #fff;
                    text-align: center;
                    span {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    .profile-tabs {
        width: 100%;
        height: 48px;
        list-style-type: none;
        background-color: #f8f8f8;
        padding-left: 0;
        margin: 0;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        display: flex;
        top: 50px;
        z-index: 4;

        &__item {
            text-align: center;
            width: 50%;
            position: relative;
            line-height: 48px;
            color: #9b9b9b;
            font-size: $web-font-size;
            display: block;

            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 0;
                height: 2px;
                background: linear-gradient(359deg, #fc6767, $primary-color);
                transition: width 200ms ease-in-out;
            }

            &.is_active {
                color: $primary-color;

                &::before {
                    width: 100%;
                }
            }
        }
    }

    .timeline-page {
        height: unset !important;
    }
}

.profile-page {
    .nav-bar__title {
        left: 125px;
    }

    .nav-bar__name {
        left: 50% !important;
    }

    .notify-menu-timeline {
        right : 10px !important;
    }

    .hidden_element {
        display: none !important;
    }

    .tabs-content {
        font-size: $web-font-size;
        padding: 0 20px;
        border-bottom: 8px solid #efefef;
        label {
            color: #bcbbbb;
        }
        .form-row {
            padding: 10px 0;
            border-bottom: 1px solid #efefef;
        }

        .about-me {
            border-bottom: none;
        }
    }

    .listUserImg {
        position: relative;
        float: left;
        width: 100%;
        min-height: 70px;
    }

    .listUserImg .img-list {
        width: 78%;
        float: left;
        padding: 8px 8px 20px 0;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }

    .listUserImg .img-list__item {
        cursor: pointer;
        flex: 0 0 auto;
        width: 67px;
        height: 67px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        overflow: hidden;
        margin-left: 5px;
        &.private {
            background-color: #fff;
            right: 6px;
            top: 8px;
            border: 1px solid #ec008c;
            position: absolute;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            .badge {
                right: 10px;
            }

            .icon {
                display: inline-block;
            }
        }
        .thumbnail-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:last-child span {
            font-size: 10px;
            color: $primary-color;
            display: block;
        }
    }

    .online-icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #0b85ff;
        border: 1px solid #fff;
    }
    .offline-icon {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #94989c;
        border: 1px solid #fff;
    }

    .article-list__item {
        float: left;
        padding: 20px;
        border-bottom: 8px solid #efefef;
        width: 100%;
        .article-header {
            float: left;
            width: 100%;
            margin-bottom: 15px;
            .user-avatar {
                float: left;
                width: 35px;
                height: 35px;
                overflow: hidden;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .user-info {
                float: left;
                padding-left: 10px;
                line-height: 18px;
                .name {
                    font-weight: 600;
                }
                img {
                    color: #bcbbbb;
                    padding-right: 3px;
                }
                .time {
                    color: #bcbbbb;
                    font-size: 10px;
                    margin-right: 22px;
                    display: flex;
                    float: left;
                    align-items: center;
                    img {
                        height: 9px;
                    }
                }
                .position {
                    color: #bcbbbb;
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    img {
                        height: 10px;
                    }
                }
            }
            .form-reaction img {
                vertical-align: top;
            }
        }
        .article-content {
            width: 100%;
            float: left;
            margin-bottom: 15px;
            text-align: center;
            .article-status {
                clear: both;
                font-size: $web-font-size;
                margin-bottom: 15px;
                text-align: left;
            }
            .article-image img {
                width: 100%;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 5px;
            }
        }
        .article-footer {
            width: 100%;
            clear: both;
            display: flex;
            img {
                margin-right: 5px;
            }
            .comment-icon {
                //display: flex;
                align-items: center;
                color: #bcbbbb;
                margin-right: 27px;
                font-size: $web-font-size;
                img {
                    width: 22px;
                    height: 20px;
                }
            }
            .like-icon-default {
                //display: flex;
                align-items: center;
                color: #bcbbbb;
                font-size: $web-font-size;
            }
            .like-icon-active {
                //display: flex;
                align-items: center;
                color: $primary-color;
                font-size: $web-font-size;
            }
        }
        .article-comment {
            float: left;
            width: 100%;
            margin-top: 28px;
            .user-avatar {
                float: left;
                width: 30px;
                height: 30px;
                overflow: hidden;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .user-info {
                float: left;
                padding-left: 10px;
                line-height: 18px;
                .name {
                    font-weight: 600;
                    text-transform: uppercase;
                }
                img {
                    color: #bcbbbb;
                    padding-right: 5px;
                }
                .time {
                    color: #bcbbbb;
                    font-size: 10px;
                    margin-right: 22px;
                    img {
                        height: 9px;
                    }
                }
            }
            .user-ctrl {
                float: right;
                color: $primary-color;
            }
            .comment-content {
                float: left;
                padding-left: 40px;
            }
        }
    }
    .article-list p {
        margin: 0;
    }

    .top-setting {
        height: 150px !important;
        .k-header {
            float: left;
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 100;
        }
        .profile-page {
            .tabs {
                border-bottom: 8px solid #efefef;
                padding-top: 70px;
                ul {
                    clear: left;
                    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                    box-shadow: none;
                }
                li {
                    width: 50%;
                }
                .notify {
                    top: 10px;
                }
            }
            .tabs-content {
                font-size: 14px;
                padding: 0 20px;
                label {
                    color: #bcbbbb;
                }
                .form-row {
                    padding: 10px 0;
                    border-bottom: 1px solid #efefef;
                    display: flex;
                    &:last-child {
                        border: none;
                    }
                }
                .form-row-left {
                    width: 50%;
                }
                .form-row-right {
                    width: 50%;
                }
            }
            .img-list {
                width: 100%;
                float: left;
                padding: 6px 6px 20px 6px;
            }
            .img-list__item {
                float: left;
                margin-right: 7px;
                width: 67px;
                height: 67px;
                //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer;
                &:last-child {
                    margin: 0;
                    border: 1px solid #ec008c;
                    position: relative;
                    text-align: center;
                    padding-top: 16px;
                    span {
                        font-size: 10px;
                        color: #ec008c;
                        display: block;
                    }
                }
                .thumnail-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .user-cover {
                height: 375px;
                overflow: hidden;
                position: relative;
            }
            .user-cover-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .nav-bar {
                position: absolute;
                width: 100%;
                top: 0;
            }
            .back {
                position: absolute;
                left: 20px;
                bottom: 5px;
            }
            .title {
                left: 55px;
                display: flex;
                position: absolute;
                bottom: 15px;
                img {
                    margin-right: 10px;
                }
            }
            .etc-menu-icon {
                position: absolute;
                right: 114px;
                bottom: 10px;
            }
            .profile-icon {
                position: absolute;
                right: 66px;
                bottom: 10px;
            }
            .chat-icon {
                position: absolute;
                right: 20px;
                bottom: 10px;
                img {
                    width: 22px;
                    position: relative;
                }
                .notify {
                    top: -3px;
                    right: -7px;
                }
            }
            .online-icon {
                margin-right: 3px;
                width: 8px;
                height: 8px;
            }
            .offline-icon {
                margin-right: 3px;
                width: 8px;
                height: 8px;
            }
            .arrow-buttons {
                position: absolute;
                width: 100%;
                top: 174px;
                display: flex;
                justify-content: space-between;
                padding: 0 20px;
            }
            .bottom {
                position: absolute;
                width: 100%;
                bottom: 0;
                padding: 50px 15px 0 20px;
                background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(255, 255, 255, 0) 100%);
                .user-status {
                    color: #fff;
                    font-size: 12px;
                    display: inline-block;
                    align-items: center;
                    padding-bottom: 5px;
                }
                .info {
                    display: flex;
                    .info-left {
                        font-size: 12px;
                        color: #fff;
                        p {
                            word-break: break-all;
                            margin: 0;
                        }
                    }
                    .info-right {
                        font-size: 10px;
                        color: #fff;
                        text-align: center;
                        span {
                            display: inline-block;
                            //width: 60px;
                        }
                    }
                }
            }
        }

        span {
            font-size: 12px;
        }
        button {
            width: 25%;
            background: transparent;
            border: none;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 8px;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all .3s;
            padding: 0;
        }
        .menu1 {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            top: 150px;
            background: rgba(0, 0, 0, 0.6);
            z-index: 200;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: opacity 0.25s ease-in-out;
        }

        .d-block {
            display: block !important;
        }
        .img-avatar {
            width: 30px !important;
            height: 30px !important;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 100%;
        }
        .avata-name {
            margin-left: 42px;
        }
    }
    .btn-delete-photo {
        text-align: center;
        position: absolute;
        bottom: 59px;
        left: 50%;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateX(-50%);
        background-color: transparent;
        border: none;
        i {
            margin: 14px;
        }
    }

    .main-timeline-user {
        margin-top: -40px;
    }

    .notify {
        top: 10px;
    }

    .photo-detail {
        position: relative;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;
    }

    .square {
        float: left;
        position: relative !important;
        width: 23% !important;
        padding-bottom: 18%;
        margin: 1%;
        border-radius: 5px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .btn-view-all {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: $web-font-size;
        color: #ffffff;
        background-color: transparent;
        border: none;
    }

    .icon {
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .backstage-profile {
        width: 100%;
        height: 57vh;
        position: relative;
        margin: 30px auto 0;
        overflow: hidden;
        .ph-item {
            border: none !important;
        }
    }

    .my-photo {
        @include not-copy-image;
        width: 100%;
        height: calc(100vh - (85px + 98px));
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;

        img {
            margin: auto;
        }
    }

    .gallery-user-btn {
        border: none;
        background-color: transparent;
        margin: auto;
    }

    .menu-backstage {
        justify-content: space-evenly !important;
    }

    .bottom-menu-option {
        height: 98px;
        display: flex;
        justify-content: space-between;

        &.is_backstage  > div {
            width: 50%;
            text-align: center;
        }

        button {
            display: inline-block;
            width: 20%;
            padding: 0;
        }
        .d-title {
            font-size: 12px;
            text-align: center;
            color: #636166;
        }
        .icon {
            width: 28px !important;
            height: 31px !important;
            background-position: center center;
            background-size: 100%;
        }
    }
    .bottom-menu-item {
        display: flex;
        width: 20%;
        justify-content: center;
        flex-direction: row;

        .img-avatar {
            width: 50px;
            height: 50px;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }

    }

    .d-title {
        display: block !important;
    }

    .user-img img {
        width: 100%;
        height: auto;
    }

    .img-public {
        position: relative;
        display: flex;
        .img-list {
            width: 100%;
            margin-top: 10px;
        }
        .img-list__item {
            img {
                float: left;
                position: relative;
                width: 23vw !important;
                min-height: 23vw !important;
                margin: 1vw;
                border-radius: 3px;
            }
        }
    }

    .profile-notify {
        position: absolute;
        right: 4px;
        top: 10px;
        color: #fff !important;
    }

    .my-backstage {
        background-color: rgba(0, 0, 0, 0.3);
        min-height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        // .nav-bar__title {
        //     left: 50px;
        // }
    }

    .image-detail {
        .title-backstage {
            left: 70px;
        }

        .my-photo img {
            width: 100%;
        }
    }

    .btn-unlock {
        width: 318px;
        height: 50px;
        border-radius: 25px;
        text-align: center;
        border: none;
        position: relative;
        display: block;
        margin: 0 auto 40px;
        z-index: 2;
    }

    .text-title {
        position: relative;
        z-index: 2;
        line-height: 1.13;
        text-align: center;
        color: #ffffff;
        margin-bottom: 20px;
        margin-top: 19px;
        padding-top: 20px;
    }

    .thumbnail-photo {
        width: 22%;
        height: 80px;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
        margin-bottom: 10px;
        margin-left: 8px;
    }

    .list-photo {
        text-align: center;
        z-index: 1;
    }

    .list-photo-profile {
        width: 100%;
        float: left;
        padding: 0px 5px;
        margin-bottom: 18px;
    }

    .userInfo {
        font-weight: 600;
    }

    .icon-reaction {
        height: 27px;
    }

    button {
        background: transparent;
        border: none;
    }

    .slick-prev {
        z-index: 1;
        opacity: 0;
        left: 15px !important;

        &::before {
            font-size: 28px !important;
        }
    }

    .slick-next {
        z-index: 1;
        opacity: 0;
        right: 18px !important;

        &::before {
            font-size: 28px !important;
        }
    }

    .w-break {
        word-break: break-all;
    }

    .menu-option {
        margin-bottom: 40px;
        padding-right: 20px;
    }

    .menu {
        position: absolute;
        width: 100%;
        top: 55px;
    }

    .menu-top {
        height: 90px;
        background-color: #f8f8f8;
        text-align: center;
        padding-top: 20px;

        span {
            font-size: 12px;
            padding-top: 14px;
        }

        a {
            //padding: 12px 20px;
            color: #000;
            display: inline-block;
            width: 25%;
            background: transparent;
            border: none;
            border-radius: 8px;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

        .icon-heart-ol-sm {
            width: 24.9px;
            height: 22px;
        }
    }

    .overlay {
        top: 145px;
    }

    .nav-bar-active {
        background: linear-gradient(315deg, #fc6767, $primary-color);
    }

    .arrow-end {
        justify-content: flex-end !important;
    }
}

.is_tablet .profile-page {
    .img-public .img-list__item img {
        width: 18vw !important;
        min-height: 18vw !important;
    }
    .user-profile .img-list {
        width: 89%;
    }

    .profile-notify {
        right: 7px;
        top: 7px;
    }
}

.is_desktop .profile-page .profile-tabs {
    width: $max-width;
}

.is_tablet .profile-gallery {
    &__item {
        &.is_backstage {
            width: 20%;
            padding-bottom: 20%;
        }
    }
}

.profile-backstage {
    &__background {
        position: fixed;
    }
}

.profile-gallery {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;

    &__background {
        position: absolute;
        z-index: 1;
        @include position-full-content;
        background: rgba(0, 0, 0, 0.52);
    }

    &__item {
        position: relative;
        width: 33.3%;
        padding-bottom: 33.3%;
        overflow: hidden;

        &.is_backstage {
            width: 25%;
            padding-bottom: 25%;
        }

        .ph-picture {
            min-height: 33.3vw;
        }
    }

    &__image {
        margin: 5px;
    }
}


.is_desktop .profile-gallery__item {
    max-height: $max-width / 3;

    &.is_backstage {
        max-height: $max-width / 4;
    }
}
