@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.natural-chat-gift-pool-root {
    background-color: white;
    color: #1a1a1a;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;

    > .natural-wrapper {

    }

    .natural-primary {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
    }

    .text-gift-des {
        padding: 20px 50px 0;
        margin-bottom: 0;
    }

    .natural-gift-list {
        list-style: none;
        padding: 13px;
        margin: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: scroll;

        .natural-gift-item {
            margin-bottom: 10px;
            cursor: pointer;
            > .natural-wrapper {
                width: 100px;
            }

            .natural-deco {
                border-radius: 2px;
                overflow: hidden;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                position: relative;
                top: inherit;
                right: inherit;
                bottom: inherit;
                left: inherit;

                &:after {
                    content: '';
                    padding-bottom: 100%;
                }
            }

            .natural-literal, .natural-price {
                width: 100%;
                text-align: center;
            }

            .natural-price {

            }

        }
    }
}

.gift__loading {
    @include full-screen-loading;
}

.is_tablet {
    .natural-gift-list {
        flex-wrap: wrap;
        justify-content: unset;
        -webkit-flex-wrap: wrap;
        .natural-gift-item {
            width: 18%;
            margin-left: 12px;
            >.natural-wrapper {
                width: unset;
            }
        }
    }
}
