@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

body.menu-profile-open {
    overflow: hidden !important;
    -webkit-touch-callout: none;
}

.is_desktop .menu-profile {
    max-width: $max-width;
}

.menu-profile {
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0 auto;

    &__overlay {
        @include position-full-content;
        @include background-opacity(#000, 0.85);
        position: fixed;
        z-index: 3;
        top: 55px;
    }

    &__list {
        position: relative;
        background-color: #fff;
        text-align: center;
        display: flex;
        height: 100px;
        z-index: 4;
    }

    &__item {
        padding-top: 20px;
        width: 25%;
        cursor: pointer;
    }
}

.profile-report {
    padding: 50px 50px 50px 20px;
    height: 290px;
}

.profile-report-title {
    padding-left: 5px;
}

.profile-report-list {
    cursor: pointer;
}

.dialog-top-setting {
    z-index: 1 !important;
}
