@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.timeline-page {
    height: -webkit-fill-available;

    .text-box {
        position: relative;
        width: 100%;
    }

    .text-box textarea {
        -webkit-appearance: none;
        resize: none;
        height: 38px;
        line-height: 18px;
        font-size: 14px;
        border: 1px solid #bcbbbb;
        border-radius: 20px;
        padding: 0px 30px 0px 17px;
        width: 100%;
        caret-color: $primary-color;
        &::placeholder {
            padding-bottom: 10px;
            font-size: $web-font-size;;
            letter-spacing: -0.3px;
            color: #bcbbbb;
        }

        &:empty + .overlay {
            + .btn-add-buzz {
                opacity: 0;
            }
        }

        &:focus + .overlay {
            display: block;
            + .btn-add-buzz {
                opacity: 0.4;
            }
        }
    }

    .btn-add-buzz {
        @include vertical-center-content;
        opacity: 0.4;
        position: absolute;
        right: 15px;
        z-index: 2001;
        cursor: pointer;
    }

    .timeline-list {
        float: left;
        margin-bottom: 70px;
    }

    .btn-show-reply {
        font-size: 11px;
        letter-spacing: -0.2px;
        color: $primary-color;
        padding: 0;
    }

    .btn-show-comment {
        padding: 0;
        font-size: $web-font-size;
        letter-spacing: -0.3px;
        color: $primary-color;
        margin-top: 28px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    button, input, textarea {
        &:focus {
            outline: none;
        }
    }

    button {
        padding: 0;
    }

    .nav-bar__icon--right-timeline {
        right: 0;
    }
    .img-uploaded {
        margin-right: 37px !important;
        img {
            width: auto !important;
            height: 100% !important;
        }
    }
    .form-add-buzz {
        background-color: #fff;
    }

    .btn-upload-file {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        width: 34px;
        height: 34px;
        border: none;
        border-radius: 100%;
        background-color: rgba($color: $primary-color, $alpha: 0.05);
        .icon-camera-pink {
            width: 18px;
            height: 16px;
        }
    }

    .upload-file-custom {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-file {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .text-box {
        position: relative;
        width: 100%;
    }

    .icon-like, .icon-liked {
        margin-top: 8px;
    }

    .text-box textarea {
        resize: none;
        min-height: 36px;
        font-size: $web-font-size;
        border: 1px solid #bcbbbb;
        border-radius: 20px;
        padding: 10px 30px 0px 17px;
        width: 100%;
        caret-color: $primary-color;
        &::placeholder {
            padding-bottom: 10px;
            font-size: $web-font-size;
            letter-spacing: -0.3px;
            color: #bcbbbb;
        }
    }

    .comment-box {
        height: 36px;
        font-size: $web-font-size;
        border: 1px solid #bcbbbb;
        border-radius: 20px;
        padding: 8px 17px;
        margin-left: 12px;
        width: 100%;
        &::placeholder {
            font-size: $web-font-size;
            letter-spacing: -0.3px;
            color: #bcbbbb;
        }
    }

    .form-add-buzz, .form-comment {
        display: flex;
        padding: 8px 20px;
        border-bottom: 1px solid #e0e0e0;
    }

    .user-info-name {
        padding: 0px;
        margin-bottom: 6px;
    }

    .form-add-buzz {
        position: relative;
    }

    .form-comment {
        list-style-type: none;
        height: 83px;
        background-color: #fff;
        margin: 0;
        text-align: center;
        padding: 10px 20px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    }

    .timeline-list {
        width: 100%;
        margin-bottom: 70px;
    }

    .btn-show-reply {
        font-size: 11px;
        letter-spacing: -0.2px;
        color: $primary-color;
        padding: 0;
        border: none;
        background-color: rgba(0, 0, 0, 0);
    }

    .btn-show-comment {
        padding: 0;
        font-size: $web-font-size;
        letter-spacing: -0.3px;
        color: $primary-color;
        margin-top: 20px;
    }

    button, input, textarea {
        &:focus {
            outline: none;
        }
    }

    button {
        padding: 0;
    }

    .timeline-list p {
        margin: 0;
    }

    .icon-send {
        position: absolute;
        right: 30px;
        bottom: 24px;
    }

    .icon-comment {
        margin-top: 4px;
        color : #bcbbbb !important;
    }

    .overlay {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 160px;
        background: rgba(0, 0, 0, 0.8);
        z-index: 200;
        transition: opacity 0.25s ease-in-out;
    }

    .reaction-timeline {
        text-align: right;

        img {
            display: inline-block;
            width: 16px;
            height: 14px;
        }
    }

    a {
        color: #000;
    }
    .dialog-delete-user {
        width: 240px;
        height: 80px;
        margin: 20px;
    }

    .btn-delete-user {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        font-weight: bold;
        color: #ec008c;
        float: right;
        margin: 40px 15px 0 21px;
    }

    .timeline-list__item .img-avatar {
        position: unset !important;
    }

    .footer-comment-timeline {
        display: flex;
        margin-top: 20px;
    }

    .approve {
        background-color: #f53a7752;
        position: relative;
        width: 107% !important;
        left: -12px;
        z-index: -1;
    }

    .content-timeline-status {
        margin-left: 20px !important;
    }

    .approve-comment {
        background-color: #f53a7752;
        width: 100%;
    }
    .comment-content-reply {
        padding-left: 40px;
    }

    .comment-box:disabled {
        background-color: #fff;
    }
}

.position-overlay-timeline {
    .k-main {
        position: fixed;
    }
}
