@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.chat-gallery {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        width: 25%;
        cursor: pointer;

        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &.is_lock {
            &:after {
                @include position-full-content;
                @include background-opacity(#fff, 0.8);
                position: absolute;
                content: "";
            }
        }
    }

    &__img {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }

    &__preview {
        position: fixed;
        top: 90px;
        bottom: 74px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__preview-wrapper {
        position: relative;
        &:after{
            @include position-full-content;
            content: '';
            position: absolute;
        }
    }

    &__preview-img {
        max-width: 100%;
        max-height: 100%;
    }

    &__download {
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.is_desktop {
    .chat-gallery__preview {
        max-width: $max-with;
    }
}
