@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.is_tablet {
    .gallery {
        .thumbnail-photo, .btn-add-photo {
            width: 15%;
            height: 110px;
            margin-left: 11px;
        }
        .photo-detail {
            height: 110px;
        }
    }
    .my-backstage__item {
        width: 20%;
        padding-bottom: 20%;
    }
}

.full-screen.gallery {
    background: #fff;
}

.my-backstage {
    display: flex;
    flex-wrap: wrap;

    &__item {
        position: relative;
        width: 25%;
        padding-bottom: 25%;
        overflow: hidden;
        cursor: pointer;

        .ph-picture {
            min-height: 25vw;
        }
    }

    &__image {
        margin: 5px;
    }

    &__button {
        position: absolute;
        @include position-full-content;
        border-radius: 5px;
        background-image: linear-gradient(135deg, $primary-color, #fc6767);
        margin: 5px;
        display: flex;
        border: none;
        text-align: center;
        outline: none;
        z-index: 1;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
            margin-bottom: 10px;
        }
        span {
            display: block;
            font-size: 12px;
            text-align: center;
            color: #ffffff;
        }
        input {
            position: absolute;
            visibility: hidden;
        }
    }
}

.is_desktop .my-backstage__item {
    max-height: $max-width / 4;
}

.gallery {
    &__loading {
        @include full-screen-loading;
    }

    .header-gallery {
        float: left;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 100;
        .nav-bar {
            background: transparent;
            padding-top: 30px;
            color: #fff;
            width: 100%;
            height: 70px;
            .title {
                font-size: 18px;
                font-weight: 600;
                position: absolute;
                left: 64px;
            }
        }
    }

    .my-photo img{
        width: 100%;
    }

    .thumbnail-photo {
        width: 22%;
        height: 80px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        background-size: cover;
        background-position: center;
        margin-bottom: 10px;
        margin-left: 8px;
    }
    .list-photo-row {
        display: flex;
        margin-bottom: 5px;
        flex-wrap: wrap;
        input {
            display: none;
        }
    }

    .text-note {
        line-height: 1.13;
        text-align: center;
        color: #ffffff;
        margin-bottom: 24px;
        margin-top: 19px;
    }
    .photo-detail {
        position: relative;
        height: 80px;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        overflow: hidden;
    }
    .btn-view-all {
        position: absolute;
        right: 20px;
        font-size: $web-font-size;
        color: #ffffff;
        background-color: transparent;
        border: none;
    }
    .btn-delete-photo {
        text-align: center;
        position: absolute;
        bottom: 25px;
        left: 50%;
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: translateX(-50%);
        background-color: transparent;
        border: none;
        i {
            margin: 14px;
        }
        span {
            font-size: 10px;
            color: #4a4a4a;
        }
    }
    .d-block {
        display: block !important;
    }
    .my-photo {
        width: 100%;
        height: 57vh;
        position: relative;
        margin: 30px auto 0;
        overflow: hidden;
    }
    .my-dialog {
        width: 250px;
        height: 120px;
        margin: 25px;
    }
    .my-button {
        position: absolute;
        bottom: 20px;
        right: 30px;
    }
    .custom-btn {
        border: none;
        background-color: transparent;
        color: #00827b;
        padding-right: 20px;
        cursor: pointer;
    }
    .my-backstage {
        overflow: auto;
    }
    .list-my-backstage {
        margin-top: 10px;
    }
}

.gallery-background {
    position:fixed;
}

.is_desktop .gallery-background {
    max-width: $max-width;
    margin: 0 auto;
}

