@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.home-page {
    &__logo {
        position: absolute;
        @include center-content;
    }

    .nav-bar__icon--right.is_message {
        right: 40px;
    }

    .k-main {
        .list-user {
            margin-top: 0;
        }
    }
}

.k-main .list-user .thumbnail-user .notify {
    top: 5px;
    right: 5px;
}
