@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.call-log {
    .active {
        color: $primary-color !important;
        position: relative !important;
    }

    .active::before {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        content: "";
        background: linear-gradient(359deg, #fc6767, $primary-color);
        height: 1px;
    }
}
