@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.page-call {
    &__loading {
        @include full-screen-loading;
    }

    > a {
        display: block;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .main__title {
        font-size: 20px;
        color: #ec008c;
        font-weight: bold;
        text-align: center;
        padding: 20px 0px;
    }
    .section {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        margin: 0px 20px 30px;
        &__title {
            font-size: 16px;
            color: #ec008c;
            font-weight: bold;
            margin: 14px 0px;
        }
        &__btn {
            margin: 20px 0px;
            .btn-custom {
                width: 100%;
            }
        }
        &__list {
            list-style-type: none;
            padding: 0;
            &__item {
                display: flex;
                margin-bottom: 10px;
            }
        }
        a {
            color: #000;
        }

        .text-note {
            font-size: 14px;
            line-height: 1.43;
            color: #9b9b9b;
            margin-bottom: 10px;
        }

        .txt-info {
            padding: 20px 20px 0px;
            font-weight: bold;
        }

    }
    .number-active {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: linear-gradient(135deg, #ec008c, #fc6767);
        color: #fff;
        text-align: center;
        border-radius: 100%;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        padding-top: 2px;
    }
    .number-default {
        width: 30px;
        height: 30px;
        display: block;
        width: 30px;
        height: 30px;
        border: 1px solid #ec008c;
        color: #ec008c;
        text-align: center;
        border-radius: 100%;
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        padding-top: 2px;
    }
    .no-padding {
        padding: 0 !important;
    }
    .intro {
        text-align: center;
        padding: 20px 0px 30px 0px;
    }
    .note {
        color: #ff0000;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .icon {
        margin-right: 10px;
    }
    .breadcrumb {
        list-style: none;
        padding-top: 10px;
        padding-left: 0;
    }
    .breadcrumb li {
        display: inline-block;
        font-size: 11px;
        position: relative;
        width: 105px;
    }
    .breadcrumb li a {
        display: block;
        margin-left: 35px;
        margin-bottom: 10px;
    }
    .breadcrumb li::before {
        content: ".......................";
        color: #ec008c;
        position: relative;
        left: 50px;
        top: 20px;
    }
    .breadcrumb li:last-child {
        &::before {
            content: "";
        }
    }
    .btn-disable {
        opacity: 0.2;
    }

}

.page-call-2 {
    .section {
        &__btn {
            margin: 0px 30px 30px;
        }
    }
    .main__title {
        border-bottom: 4px solid #efefef;
    }
}

.page-call-3 {
    .section {
        &__btn {
            margin: 0px 30px 20px 30px;
        }
    }
}
