.natural-chat-header-dock-root {
    background-color: #fafafa;
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    color: #1a1a1a;
    > .natural-wrapper {
        height: 80px;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .menu-call {
        height: 70px;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        .menu-call-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        i {
            margin-right: 14px;
        }

        span {
            color: #3552fb;
            font-size: 14px;
            display: flex;
            text-align: left;
            float: right;
            height: 70px;
            align-items: center;
        }
    }

    .natural-mask {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.4);
    }

    .natural-chat-header-dock-item {
        cursor: pointer;
        width: 25%;
        justify-content: center;
        .natural-deco {
            height: 25px;
        }
        .natural-literal {
            margin-top: 7px;
        }
        .natural-wrapper{
           align-items: center;
        }
    }
}
