@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.setting-notice {
    &__loading {
        @include full-screen-loading;
    }

    .text-note {
        font-size: 14px;
        color: #bcbbbb;
        text-align: center;
        margin-top: 30px;
    }

    .nav-bar__button {
        border: 1px solid #fff !important;
    }

    .label-not-active {
        color: #ccc !important;
    }

    .label-active {
        color: #000 !important;
    }

    &__header {
        text-align: center;
        padding-top: 45px;
        padding-bottom: 30px;
        position: relative;
    }

    .user-avatar {
        @include border-radius(50%);
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        overflow: hidden;
    }

    .form__control.is_disable .form__label {
        color: #000;
    }

    .form__control.is_disable select {
        color: #f36dbc;
    }

    select {
        color: $primary-color;
    }
}
