@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.deactivate-page {
    .text-note {
        color: #4a4a4a;
        padding: 10px 15px;
    }

    .btn-custom {
        display: block;
        margin: auto;
        cursor: pointer;
        border: none !important;
    }

    .btn-custom:hover {
        opacity: 0.7;
    }

    .fb-icon {
        margin-right: 14px;
    }

    .btn-fb-login {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid #3853a1;
        color: #3853a1;
        margin-top: 35px;
        line-height: inherit;

        .icon {
            margin-right: 5px
        }
    }

    .btn-login {
        margin-bottom: 20px;
    }

    .btn-default {
        background-color: #fff;
        box-shadow: inset 0 1px 1px 0 $primary-color, inset 0 0 0 1px #fc6767;
        color: $primary-color;
    }

    .btn-link {
        display: contents;
    }

    .title {
        font-weight: 600;
        text-align: center;
        color: $primary-color;
    }

    .text-note p {
        margin-bottom: 20px;
    }

    .draw-content {
        @include border-radius(5px);
        margin: 25px 0;
        border: 1px solid #efefef;
        width: 100%;
        outline: none;
    }

    .form__group-input {
        padding-left: 15px;
    }
}
