@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.setting-page {
    a {
        color: #000;
    }


    .setting-title {
        font-size: 12px;
        color: $primary-color;
        height: 30px;
        background-color: #f8f8f8;
        line-height: 30px;
        padding-left: 17px;
        border-bottom: 1px solid #efefef;
    }

    .setting-hanover-label {
        display: inline-block;
        padding-right: 15px;
        color: red;
    }

    .info-version {
        font-size: $web-font-size;
        line-height: 1.14;
        letter-spacing: -0.6px;
        text-align: center;
        color: #9b9b9b;
        padding: 38px 0 42px 0;
    }

    .form-setting {
        position: relative;
    }
    .form-setting label {
        color : #000;
    }

}
