@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.setting-block-page {
    .user-block {
        height: 70px;
        padding: 0 0 0 20px;
        display: flex;
        align-items: center;
        position: relative;
        .block-left{
            display: block;
        }
        .block-right{
            width: 100%;
            justify-content: space-between;
            display: flex;
            height: 100%;
            align-items: center;
            border-bottom: 1px solid #e0e0e0;
            overflow-x: hidden;
            padding-right: 20px;
        }
        .user-img {
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
        }
        .user-name {
            display: block;
            font-weight: 600;
            color: #000;
            margin-left: 10px;
        }
        .btn-block {
            border: none;
            width: auto;
            height: 30px;
            border-radius: 17px;
            background-color: #ec008c;
            font-size: 12px;
            text-align: center;
            color: #ffffff;
            right: 20px;
            display: block;
             padding: 0 10px;
        }
    }
    .dialog-block-user {
        width: 250px;
        height: 100px;
        margin: 20px;
        position: relative;
        padding-bottom: 50px;
        font-family: Roboto, Noto, sans-serif;
        font-size: 15px;
    }
    .btn-block-user {
        background-color: rgba(0,0,0,0);
        border: none;
        font-weight: bold;
        float: right;
        border: none;
        background: transparent;
        color: #000;
        position: absolute;
        bottom: 0px;
        right: 5px;
    }
    .title-block {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .main-block {
        text-align: center;
        margin-top: 15px;
        color: #c1c1c1;
        padding-top: 15px;
    }
}
