@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.my-page {
    > .k-header {
        height: 330px !important;
        overflow: hidden;
        position: relative !important;
        background: linear-gradient(142deg, rgba(236, 0, 140, 0.9), rgba(252, 103, 103, 0.9)), url("../../statics/images/avatar-default.png");
        background-size: cover;

        .nav-bar {
            background: transparent;
        }
    }

    &__options {
        margin-top: -55px;
    }

    &__cover {
        width: 100%;
        text-align: center;
        margin-top: 90px;
    }

    &__avatar {
        @include border-radius(50%);
        display: block;
        position: relative;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        overflow: hidden;
    }

    &__user-name {
        display: block;
        text-align: center;
        color: #fff;
        min-height: 21px;
    }

    &__appeal-comment {
        width: 80%;;
        height: auto;
        margin: 20px auto 0;
        font-size: 12px;
        color: #9b9b9b;
        text-align: left;
        display: block;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: -14px;
            left: 50%;
            margin-left: -7px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 14px solid #fff;
        }

        textarea {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: none;
            resize: none;
            padding: 10px;
            outline: none;

            &::placeholder {
                font-size: 12px;
                color: #9b9b9b;
            }
        }
    }

    &__appeal-count {
        position: absolute;
        right: 8px;
        bottom: 13px;
        cursor: pointer;

        .icon {
            position: relative;
            top: 3px;
            margin-left: 5px;
        }
        .icon-send {
            height: 18px;
        }
    }

    &__row {
        border-bottom: 1px solid #efefef;
        padding: 23px 10px;
        min-height: 100px;
        display: flex;
        width: 100%;
    }

    &__item-content {
        color: $primary-color;
        font-size: 16px;
    }

    &__item-title {
        display: block;
        font-size: 12px;
        padding-top: 8px;
    }

    &__item {
        width: 33.33333%;
        display: block;
        color: #000;
        text-align: center;
        border: none;
        background: transparent;
        cursor: pointer;

        &:hover {
            color: #000;
        }
    }

    a.form__control {
        color: #000;
    }
}
