.natural-gift-pool-header-root {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    color: white;
    .natural-text-wrapper {
        font-weight: bold;
        word-break: break-word;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
        font-weight: 600;
        position: absolute;
        left: 45%;
        line-height: 55px;
    }
}