@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.web-view {
    &__iframe {
        max-height: calc(100vh - 60px);
        background: #fff url(#{$image-path}/loading_spinner.gif) no-repeat center 100px !important;
    }

    &__iframe_loaded {
        // max-height: calc(100vh - 60px);
    }

    &.full-screen > .full-screen__content {
        margin-top: 55px;
    }
}

body.sidebar-web-view_open {
    @include background-opacity(#000, 0.5);
    overflow: hidden !important;
    -webkit-touch-callout: none;
    width: 100%;

    .sidebar_web-view__parent {
        position: fixed;
        overflow: hidden !important;
        -webkit-touch-callout: none;
        width: 100%;
        min-height: 100vh;
        background: #fff;

        &:before {
            @include position-full-content;
            @include background-opacity(#000, 0.5);
            content: '';
            position: fixed;
            z-index: 111;
        }
    }
}

body.is_desktop.sidebar-web-view_open .sidebar_web-view__parent {
    max-width: $max-with;
    margin: 0 auto;
    overflow: unset !important;
}

.is_safari .web-view {
    .full-screen__content {
        margin-top: 0;
        -webkit-touch-callout: none;
        touch-action: none;


        .k-header {
            position: sticky;
            transform: translateX(0);
            left: 0;
        }
    }
}
