.natural-chat-footer-plus-menu-root {
    height: 0;
    overflow: hidden;
    -webkit-transition: opacity .2s -webkit-cubic-bezier(0.075, 0.82, 0.165, 1), height .4s -webkit-cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: opacity .2s cubic-bezier(0.075, 0.82, 0.165, 1), height .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    opacity: 0;
    > .natural-wrapper {
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    > .natural-wrapper-v {
        justify-content: space-between;
    }
    &.natural-chat-footer-plus-menu-active {
        padding: 20px 15px;
        height: 200px;
        opacity: 1;
        > .natural-wrapper {
            min-height: 210px;
            max-height: 210px;
        }
    }
    .natural-grid-row {
        //height: auto;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        font-size: 13px;
        label {
            margin: 0px;
        }
    }
    .natural-plus-grid-item {
        width: calc(100% / 3);
        height: auto;
        cursor: pointer;
        .natural-icon-wrapper {
            height: 27px;
            justify-content: center;
            .icon {
                background-size: contain;
            }
            .icon-movie {
                height: 27px;
            }
        }
        .natural-label {
            margin-top: 5px;
        }
    }
}
