@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";
.myCheckbox {
    position: absolute;
    right: 10px;
}
.icon-circle {
    border-radius: 50%;
    background-color: #e0e0e0;
    min-width: 24px;
    min-height: 24px;
}
.icon-check {
    min-width: 24px !important;
    min-height: 24px !important;
    padding-left: 0 !important;
    color: #f50057 !important;
    font-size: 24px !important;
}
.btn-toggle {
    border: none;
    border-radius: 70px;
    font-size: 12px;
    width: auto;
    height: 28px;
    position: absolute;
    right: 16px;
    margin-top: 10px;
}