@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.list-like {
    position: relative;
    background-color: #fff;
    min-height: 150px;

    &__loading {
        @include full-screen-loading;
    }

    .like-noti-item {
        padding: 0px 20px;
        height: 80px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #efefef;
        position: relative;
        .text-noti {
            display: block;
            font-size: $web-font-size;
            line-height: 1.29;
            margin-right: 20px;
            .custom-text-like {
                cursor: pointer;
            }
        }
        .time {
            display: block;
            font-size: 12px;
            opacity: 0.5;
            color: #000000;
        }
    }

    .left {
        span {
            width: 25px;
            height: 23px;
            margin-right: 20px;
        }
    }

    .right {
        position: absolute;
        right: 20px;
        img {
            width: 6.8px;
            height: 12px;
        }
    }

    .center .text-noti {
        color: #000;
    }

    .text-default {
        font-size: 14px;
        color: #9b9b9b;
        text-align: center;
        margin-top: 100px;
    }
}
