@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.emoji-view {
    @include word-wrap;

    &__image {
        max-width: 100%;
        height: 14px;
        pointer-events: none;
    }
}

.editor-picker {
    overflow-x: hidden;
    background: #fff;
    touch-action: none;
    * {
        touch-action: manipulation;
        -webkit-touch-callout: none;
    }

    &__wrapper {
        position: relative;
        display: none;
        height: 155px;

        &.no_paging {
            margin-bottom: 0;
        }

        &.is_active {
            display: block;
        }
        .editor-picker-emoji {
            touch-action: manipulation;
        }
    }

    &-emoji {
        &__row {
            display: flex;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__icon {
            position: relative;
            cursor: pointer;
            width: 14%;
            height: 45px;
            padding: 7px 0;

            &:after {
                @include position-full-content;
                content: '';
                position: absolute;
                z-index: 1;
            }

            img {
                max-height: 33px;
                margin: 0 auto;
            }
        }
    }

    &__sticker {
        position: absolute;
        top: -130px;
        width: 100%;
        height: 130px;
        text-align: center;
        padding: 5px 0;
        background: rgba(0, 0, 0, 0.6);

        img {
            max-height: 120px;
            margin: 0 auto;
            cursor: pointer;
        }
    }

    &__sticker-close {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    &-sticker {
        &__row {
            display: flex;
            align-items: center;
            height: 70px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__icon {
            cursor: pointer;
            width: 12.5%;
            touch-action: none;

            &.is_mobile {
                width: 25%;
            }

            img {
                max-height: 70px;
                margin: 0 auto;
            }
        }

        &__tabs {
            display: flex;
            align-items: stretch;
            background: #c3c3c3;
            height: 38px;
        }

        &__tab {
            min-height: 25px;
            text-align: center;
            opacity: 0.8;
            cursor: pointer;
            width: 44px;
            display: flex;
            background: #e6e6e6;

            &.is_active {
                opacity: 1;
            }

            &.is_close {
                @extend %background-button;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 1;
            }

            img {
                display: inline-block;
                max-height: 38px;
                margin: 0 auto;
            }
        }
    }

    &__footer {
        display: flex;
        align-items: center;

        &-btn {
            width: 100%;
            border: none;
            height: 38px;
            font-weight: bold;
            background: transparent;
            outline: none;
            color: $primary-color;

            &.is_emoji {
                @extend %background-button;
            }
        }
    }

    .slick-dots {
        bottom: -15px;

        li {
            margin: 0;
            width: 15px;
        }
    }

    &__dot {
        border: 0;
        background: transparent;
        display: block;
        height: 20px;
        width: 20px;
        outline: none;
        line-height: 0;
        font-size: 0;
        color: transparent;
        padding: 5px;
        cursor: pointer;
        &:hover, &:focus {
            outline: none;
            &:before {
                opacity: 1 !important;
            }
        }

        &:before {
            width: 20px;
            height: 20px;
            font-size: 6px;
            line-height: 20px;
            text-align: center;
            color: $primary-color !important;
            opacity: 0.5 !important;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }

    .slick-active {
        .editor-picker__dot:before {
            opacity: 0.9 !important;
        }
    }

    img {
        max-width: 100%;
    }
}

.emoji-sticker-view {
    position: relative;
    padding: 0 10px;
    min-height: 130px;

    &:after {
        content: '';
        position: absolute;
        @include position-full-content;
    }

    &__img {
        max-height: 130px;
        max-width: 100%;
        pointer-events: none;
    }
}
