@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

$content-border-radius: 10px;

.natural-chat-pool-item-root {
    width: 100%;
    max-width: 100%;
    &.natural-chat-pool-item-own {
        > .natural-wrapper {
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
        }
        .natural-primary {
            > .natural-wrapper {
                -webkit-flex-direction: row-reverse;
                flex-direction: row-reverse;
            }
            .natural-content {
                color: white;
                border-top-left-radius: $content-border-radius;
                border-top-right-radius: 0;
                margin: 0 0 0 5px;
            }
        }
    }
    > .natural-wrapper {
        height: auto;
        padding: 7px 15px;
    }
    .natural-deco {
        border-radius: 50%;
        background-color: #ccc;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        padding: 7px;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        -webkit-flex-grow: 0;
        flex-grow: 0;
    }

    .natural-neutral-bg-color {
        .react-player__shadow {
            border: 3px solid #ec008c;
            background-color: rgba(127, 127, 127, 0) !important;
            .react-player__play-icon {
                border-color: transparent transparent transparent #ec008c !important;
            }
        }
    }

    .react-player__shadow { 
        border-radius: 50%;
        border: 3px solid #fff;
        background-color: rgba(127, 127, 127, 0.29) !important;
    }

    .natural-avatar-user {
        border-radius: 50%;
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        padding: 7px;
        overflow: hidden;
        margin-right: 10px;
        -webkit-flex-grow: 0;
        flex-grow: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
    }

    .natural-chat-custom {
        min-width: 88px;
        text-align: center;
    }

    .natural-video-deny {
        height: 160px;
        width: 155px;
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-x-white {
            width: 34px !important;
            height: 34px !important;
        }
    }
    .natural-primary {
        &.is_video {
            width: 100%;
        }

        > .natural-wrapper {
            height: auto;
        }
        > .natural-wrapper {
            -webkit-align-items: flex-end;
            align-items: flex-end;
        }
        .natural-content {
            position: relative;
            padding: 5px 10px;
            border-radius: $content-border-radius;
            border-top-left-radius: 0;
            margin: 0 5px 0 0;
            word-break: break-word;
            overflow: hidden;
            &.natural-content-file {
                opacity: 1;
                -webkit-transition: opacity .4s .4s -webkit-cubic-bezier(0.075, 0.82, 0.165, 1);
                transition: opacity .4s .4s cubic-bezier(0.075, 0.82, 0.165, 1);
                &.natural-content-waiting {
                    opacity: .5;
                }
                &.natural-content-lock {
                    .natural-file-appearance {
                        -webkit-filter: blur(6px);
                        filter: blur(6px);
                    }
                    @supports (backdrop-filter: blur(6px)) and (-webkit-backdrop-filter: blur(6px)) {
                        .natural-mask-blur {
                            display: flex;
                        }
                    }

                    @supports not ((backdrop-filter: blur(6px)) and (-webkit-backdrop-filter: blur(6px))) {
                        .natural-file-appearance {
                            -webkit-filter: blur(6px);
                            filter: blur(6px);
                        }
                    }

                }
                .natural-mask-blur {
                    display: none;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                    z-index: 1;
                    position: absolute;
                }
                .natural-file-appearance {
                    height: 150px;
                    width: 130px;
                    background-size: auto 100%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: transparent;
                    border-radius: 2px;
                    overflow: hidden;
                    &.natural-file-appearance-deny {
                        display: -webkit-flex;
                        display: flex;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-align-items: center;
                        align-items: center;
                    }
                }
                .natural-video-appearance {
                    position: relative;
                    height: 150px;
                    width: 135px;
                }
            }
            &.natural-content-gift {
                .natural-gift-appearance {
                    margin: 5px 10px 5px 0;
                    border-radius: 2px;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: transparent;
                    height: 100px;
                    width: 100px;
                }
                .natural-gift-name {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .natural-gift-name, .natural-gift-sender {
                    max-width: 150px;
                }

                .natural-gift-price {
                    font-style: italic;
                }
            }
        }
        .natural-time {
            line-height: 16px;
            > .natural-wrapper-v {
                align-items: flex-end;
            }
        }
    }

    .video-react .video-react-big-play-button {
        @include center-content;
        @include border-radius(50%);
        height: 2em;
        width: 2em;
        line-height: 2em;
    }

    .natural-send-error {
        display: flex;
        padding: 0 5px;
        cursor: pointer;
    }

}
