.memo {
    .nav-bar__button {
        border: 1px solid #fff !important;
    }

    .nav-bar__title {
        left: 50% !important;
    }

    &__textarea {
        width: 100%;
        height: calc(100vh - 80px);
        border: none;
        padding: 10px;
        outline: none;
        resize: none;
    }
}



