@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.natural-chat-footer-input-root {
    -webkit-flex-grow: 1;
    flex-grow: 1;

    .text-input {
        border: none;
        padding: 0 5px;
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }

    .chat-call-button {
        position: absolute;
        right: 0;
        margin: 0;
        padding-left: 0;
        padding-top: 3px;
        width: 100%;
        list-style: none;
        background: #fff;
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;

        li {
            text-align: center;
        }
    }

    .btn-close {
        padding: 0;
        background: transparent;
        border: none;
    }

    .btn-voice-call,
    .btn-video-call {
        display: flex;align-items: center;
        width: 140px;
        height: 50px;
        border-radius: 30px;
        box-shadow: 0 7px 14px -12px rgba(0, 0, 0, 0.5);
        background-color: #ffffff;
        font-size: 13px;
        color: #3552fb;
        border: 1px solid #3552fb;

        .icon {
            margin: 0 10px;
        }
    }
}


.chat-editor {
    &__input {
        @include word-wrap;
        width: 100%;
        display: block;
        text-align: left;
        line-height: 35px;
        height: 35px;
        overflow-y: auto;
        margin-top: 9px;
        padding-left: 10px;
        caret-color: $primary-color;
        -webkit-user-select:text;

        &:empty:after {
            content: attr(placeholder);
            color: $input-color-placeholder;
        }

        &.has_scroll {
            line-height: 18px;
        }

        &.fix-hide-text-safari {
            outline: none;
        }
    }
}


.is_desktop .chat-editor__input {
    outline: none;
}
