@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.ranking {
    &__loading {
        @include full-screen-loading;
    }
    .k-main{
        margin-top: 48px;
    }
    .off-status {
        min-width: 80px;
        display: inline-block;
        padding: 0px 5px;
        font-size: 10px;
        color: #ffffff;
        height: 18px;
        border-radius: 9px;
        line-height: 18px;
        border: 1px solid #fff;
        i {
            margin-right: 3px;
        }
    }

    .on-status {
        min-width: 80px;
        display: inline-block;
        padding: 0px 5px;
        font-size: 10px;
        color: #ffffff;
        height: 18px;
        border-radius: 9px;
        line-height: 18px;
        background-image: linear-gradient(103deg, $primary-color, #fc6767);
        i {
            margin-right: 3px;
        }
    }

    .ranking-info {
        font-size: 12px;
        color: #ffffff;
        i {
            margin-right: 5px;
        }
    }

    .ranking-item {
        display: flex;
        align-items: center;
        height: 90px;
        padding: 20px 0;
        border-bottom: 1px solid #efefef;
        position: relative;
        cursor: pointer;

        .ranking-info {
            color: #000;
            font-size: $web-font-size;
            position: absolute;
            right: 20px;
        }
        .ranking-number {
            position: absolute;
            left: 20px;
        }
        .user-img {
            position: absolute;
            left: 65px;
            width: 50px;
            height: 50px;
        }
        .user-info {
            position: absolute;
            left: 135px;
        }
        .off-status {
            color: #9b9b9b;
            border-color: #9b9b9b;
        }
        .thumbnail-icon {
            left: 65px;
            align-items: center;
            top: 15px;
        }
        .info {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .ranking-number {
        font-size: 18px;
        color: #000000;
    }

    .icon-chat {
        width: 10px !important;
        height: 11px !important;
    }

    .custom-info {
        margin-right: 7px;
    }

    .my-icon-time {
        margin: -3px 5px 0px 0px;
    }

    .dialog-deactivate-user {
        width: 260px;
        height: 110px;
        margin: 20px;
    }

    .btn-deactivate-user {
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
        bottom: 20px;
        right: 20px;
        border: none;
        font-weight: bold;
        color: $primary-color;
    }

    a {
        cursor: pointer;
    }
}


.top-ranking {
    text-align: center;
    color: #fff;
    background-image: url(../../statics/images/ranking_bg.svg);
    height: 294px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;

    .user-name {
        font-weight: 600;
    }
}

.ranking-top {
    color: #fff;
    position: absolute;
    cursor: pointer;
    top: 79px;

    &.top-1 {
        top: 31px;

        .ranking-r {
            width: 125px;
            height: 158px;

            &:before {
                background-image: url(#{$icon-path}/ranking_top_1.svg);
            }
        }

        .user-pic {
            top: 25px;
            width: 125px;
            height: 125px;
        }
    }

    &.top-2 {
        left: 17px;

        .ranking-r:before {
            background-image: url(#{$icon-path}/ranking_top_2.svg);
        }
    }

    &.top-3 {
        right: 17px;

        .ranking-r:before {
            background-image: url(#{$icon-path}/ranking_top_3.svg);
        }
    }

    .user-pic {
        @include border-radius(50%);
        position: absolute;
        left: 0;
        top: 18px;
        z-index: 2;
        width: 94px;
        height: 94px;
    }

    .ranking-r {
        position: relative;
        width: 94px;
        height: 123px;

        &:before {
            @include position-full-content;
            @include image-background;
            content: '';
            position: absolute;
            z-index: 3;
        }
    }

}
