@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.foot-print {
    .list-users {
        margin-top: 10px;
        .text-note {
            font-size: $web-font-size;
            text-align: center;
            color: $primary-color;
        }
        .list-user__item {
            display: flex;
            .my-img {
                height: 80px;
                line-height: 80px;
            }
        }
        .user {
            height: 80px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            position: relative;
            .user-name {
                display: block;
                font-weight: 600;
            }
            .time {
                font-size: 12px;
                color: #bcbbbb;
                display: flex;
                align-items: center;
                i {
                    margin-right: 3px;
                }
            }
            .date {
                display: block;
                font-size: 11px;
                color: #bcbbbb;
            }
        }
    }
    .active {
        color: $primary-color !important;
        position: relative !important;
    }
    .active::before {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        content: "";
        background: linear-gradient(359deg, #fc6767, $primary-color);
        height: 1px;
    }
    .text-note {
        font-size: $web-font-size;
        text-align: center;
        color: $primary-color;
    }
    .text-notice {
        text-align: center;
        color: #bcbbbb;
        margin-top: 198px;
    }
    .user-img {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
    .my-img {
        cursor: pointer;
    }
    .btn-video-call {
        position: absolute;
        right: 20px;
    }
    .btn-phone-call {
        position: absolute;
        right: 94px;
    }
    .menu-favorite ul li {
        float: left;
        text-align: center;
        width: 50% !important;
        position: relative;
        line-height: 48px;
        color: #9b9b9b;
        font-size: $web-font-size;
        display: block;
    }
    .user .col-4 {
        padding: 0 !important;
    }
}
