@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";


.splash-page {
    background: white;

    &__loading {
        @include full-screen-loading;

        &:before {
            background: transparent;
        }
    }

    &__logo {
        @include center-content;
        position: fixed;
    }
}

