@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.footer {
    height: $footer-height;
    width: 100%;
    max-width: $max-with;
    background-color: #fff;
    text-align: center;

     &__text {
         line-height: $footer-height;
         font-size: 16px;
         color: #000;
     }
}
