@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.search-age {
    @include center-content;
    position: absolute;
    max-width: 350px;
    width: 95%;
    background-color: #fff;
    .form__control {
        padding-left: 30px;
    }
}

.button_popup {
    background-color: rgba(0,0,0,0);
    border: none;
    font-weight: bold;
    color : $primary-color;
    margin-left: 20px;
}

.icon-search-w {
    margin-right: 5px;
}