.download-label {
    display: block;
    text-align: center;
    color: #636166;
 }

.download-btn {
    cursor: pointer;
    margin: auto;
}

 .download-link {
     display: block;
     text-align: center;
 }

 .modal-download img {
     position: relative;
     display: block;
     max-width: 100%;
     margin: 0 auto;
     z-index: 99;
     touch-action: auto;
     cursor: pointer;
 }

 .modal-download .full-screen__content {
     padding-top: 10px;
 }
