@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.setting-push-page {

    .footer-setting-noti {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.6px;
        text-align: center;
        color: #4a4a4a;
        margin-top: 20px;
    }

    .form-setting-noti {
        position: relative;
        .form-group-right select {
            display: block;
            width: 100%;
            border: 0;
            outline: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            padding-right: 10px;
        }
    }

    .modal-setting-noti {
        min-width: 260px;
        min-height: 200px;
        padding: 20px;
    }

    .checked-setting-noti {
        position: absolute;
        right : 5px;
        margin-top: -12px;
    }

    .form-setting-noti .text-setting-noti {
        color : #ec008c;
        margin-right: 35px;
    }

    .btn-save-noti {
        border: 1px solid #ffff;
        background-color: transparent;
        position: absolute;
        right: 10px;
        bottom: 15px;
        color: #fff;
    }
}

.modal-setting-noti {
    text-align: center;
}

.modal-setting-noti .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 0;
}

.modal-setting-noti label{
    padding-left: 16px;
}

.modal-setting-noti .form-group .form-group-left {
    float: left;
}

.modal-setting-noti .form-group .form-group-right {
    float: right;
    padding: 0px 16px;
    display: flex;
    align-items: center;
}

.modal-setting-noti .btn-setting-noti {
    border: none;
    padding: 10px 0px;
    background-color: transparent;
    color : #ec008c;
    font-weight: bold;
}