.page-buypoint {
    overflow: hidden;
}

.modal-buy-point {
    background-color: rgba(0, 0, 0, 0.7) !important;
    touch-action: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2200;

    .main-buy-point {
        margin: 50px auto;
        width: 80%;
        height: 80%;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;

        .title-buy-point {
            padding-top: 12px;
            margin-bottom: 12px;

            span {
                padding-left: 10px;
            }

            img {
                width: 34px;
            }

            .point-user {
                color : #ec008c;
                font-size: 14px;
                font-weight: 600;
            }
        }

        .content-buy-point {
            height: 70%;
            overflow: auto;

            .bg-green {
                background-image: linear-gradient(106deg, #61e941, #00a935);
            }

            .bg-orange {
                background-image: linear-gradient(105deg, #ffba40, #ff6f29);
            }

            .bg-red {
                background-image: linear-gradient(106deg, #f44244, #b40a12); 
            }

            .bg-violet {
                background-image: linear-gradient(106deg, #d871ff, #ad05ff);
            }

            .bg-blue {
                background-image: linear-gradient(105deg, #6fd9ff, #00b6fa);
            }

            &__detail {
                height: 105px;
                margin-bottom: 1px;
                position: relative;
            }

            .icon-sale-point {
                position: absolute;
                top: 8px;
                left: 2px;
                width: 10%;
                max-width: 50px;
            }

            .purchase {
                display: flex;
                justify-content: space-evenly;
            }

            .title-purchase {
                text-align: left;
                margin: 30px 0;

                .pri-purchase {
                    color : #ec008c;
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .purchase-get-point {
                border: none;
                background-image: linear-gradient(110deg, #ec008c, #fc6767);
                border-radius: 40px;
                width: 25%;
                color : #fff;
                max-height: 28px;
                font-size: 12px;
                margin-top: 45px;
            }
        }

    }

        .close-buy-point {
            margin: 20px 0;

            &__btn {
                border: none;
                background-image: linear-gradient(110deg, #ec008c, #fc6767);
                border-radius: 40px;
                width: 80% !important;
                color : #fff;
                min-height: 45px;
                font-size: 18px;
            }
        }

        .title-content-detail {
            color: #fff;
            padding: 5px 0;
            font-weight: 600;
            font-size: 13px;
        }

        .main-content-detail {
            background-color: #fff;
            width: 95%;
            height: 70px;
            margin: 0 auto;
            border-radius: 8px;

            span {
                color : #41b900;
            }

            &__pri {
                font-weight: 600;
                font-size: 20px;
            }

            &__btn {
                display: flex;
                padding-bottom: 3px;
                margin-top: 5px;
            }

            .text-content {
                width: 65%;
                margin: 3px;
                background-color: #d3f5c1;
                border-radius: 8px;
            }

            .btn-buy-point {
                border: none;
                background-image: linear-gradient(110deg, #ec008c, #fc6767);
                border-radius: 40px;
                width: 30%;
                color : #fff;
                margin: 0 auto;
                font-size: 12px;
            }
    }

    .full-screen__content {
        height: inherit;
    }

    .popup-message-buy-point {
        position: absolute;
        top: 20%;
        right: 14%;
        width: 71%;
        height: 65%;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;
        border-radius: 10px;
        overflow: hidden;

        .close-message-popup {
            border: none;
            background-image: linear-gradient(110deg, #ec008c, #fc6767);
            border-radius: 30px;
            width: 80%;
            min-height: 12%;
            color : #fff;
            position: absolute;
            bottom: 20px;
            left: 12%;
        }

        .title-message {
            text-align: center;
            line-height: 55px;
            color: #fff;
            background-color: #ff2b72;
            min-height: 55px;
        }

        .content-message {
            margin-top: 30px;
            border: 1px solid #ff2b72;
            background-color: #ffe8f3db;
            font-weight: 700;
            font-size: 18px;
            padding: 10px;
            width: 90%;
            border-radius: 10px;
            margin: 30px auto;

            span {
                color : #ff2b72;
            }
        }

        .detail-message {
            margin: 25px auto;
            padding-left: 12px;
        }
    }

}

body.modal-buy-point {
    position: fixed;
    overflow: hidden !important;
    -webkit-touch-callout: none;
    width: 100%;
}