@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.chat-template {
    .template-page {
        .k-main {
            margin-top: 0 !important;
        }
    }
}

.template {
    &-page {
        .k-main{
            .no_data {
                font-size: 14px;
                color: #4a4a4a;
                text-align: center;
                margin-top: 80px;
            }
        }
    }

    &__loading {
        @include full-screen-loading;
    }

    &__list {
        margin-bottom: 70px;
    }

    &__item {
        position: relative;
        word-wrap: break-word;
        background-color: #fff;
        border-bottom: 1px solid #efefef;
        padding: 0 20px;

        &.is_active {
            background-color: #f8f8f8;

            .template__content {
                height: auto;
                opacity: 1;
                transition: 300ms all ease-out;
            }
        }

        &.is_loading {
            @include full-screen-loading;
        }
    }

    &__item-header {
        display: flex;
        align-items: center;
        font-size: 16px;
        flex-direction: row;
        justify-items: center;
        justify-content: space-between;
        align-content: center;
    }

    &__item-title {
        padding: 20px 0;
        cursor: pointer;
        flex: 1 1 auto;
    }

    &__btn-delete {
        cursor: pointer;
    }

    &__content {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: 300ms all ease-in;
    }

    &__text {
        @include word-wrap;
        padding-bottom: 20px;
        color: #4a4a4a;
    }

    &__buttons {
        text-align: center;
        padding-bottom: 20px;
    }

    &__btn {
        color: $primary-color;
        margin: 0 10px;
        border: none;
        background: transparent;
        cursor: pointer;

        &.is_use {
            @include border-radius(15px);
            border: 1px solid $primary-color;
            background: #fff;
            padding: 2px 15px;
        }

        .icon {
            margin-right: 5px;
        }
    }


    &__btn-add {
        @include border-radius(50%);
        position: fixed;
        bottom: 10px;
        right: 20px;
        width: 60px;
        height: 60px;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);
        background-image: linear-gradient(132deg, $primary-color, #fc6767);
        cursor: pointer;

        &.is_disabled {
            pointer-events: none;
            cursor: default;
            opacity: 0.5;
        }

        .icon {
            position: absolute;
            @include center-content;
        }
    }

    &__form {
        padding: 0 20px;
    }

    &__count {
        font-size: $web-font-size;
        color: #bcbbbb;
        display: block;
        text-align: center;
        margin-top: 46px;
    }

    &__btn-submit {
        @extend %background-button;
        margin: 15px auto 0;
        width: 318px;
        height: 50px;
        border-radius: 25px;
        text-align: center;
        border: none;
    }

    &__input-title {
        width: 100%;
        border: none;
        padding: 20px 0;
        border-bottom: 1px solid #efefef;
    }

    &__input-content {
        outline: none;
        border: none;
        resize: none;
        font-size: 16px;
        width: 100%;
        height: 160px;
        padding: 10px 0;
        line-height: 1.5;
        overflow: hidden;
    }
}

.is_desktop {
    .template__btn-add {
        right: calc((100vw - #{$max-with}) / 2 + 20px);
    }
}