@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.news-notice {
    .list-notice {
        background-color: #fff;
    }

    .system-noti-item {
        position: relative;
        padding: 0 20px;
        height: 80px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:after {
            @include vertical-center-content;
            content: '';
            position: absolute;
            right: 10px;
            width: 6.8px;
            height: 12px;
            background-image: url(#{$icon-path}/right.svg);
        }

        .text-noti {
            display: block;
            font-size: 14px;
            line-height: 1.29;
        }
        .time {
            display: block;
            font-size: 12px;
            opacity: 0.5;
            color: #000000;
        }
        .icon {
            margin-right: 20px;
        }
    }
    .icon_notification_point {
        width: 34px;
        height: 34px;
        background-image: url(../../statics/icons/icon-point-gold.svg);
    }
    .icon_left_menu_notification {
        width: 35px;
        height: 26.1px;
        background-image: url(../../statics/icons/icon-warning-video-call.svg);
    }
    .icon_notification_like {
        width: 30px;
        height: 26px;
        background-image: url(../../statics/icons/icon-fav.svg);
    }
    .icon_chat_notification {
        width: 30px;
        height: 27.38px;
        background-image: url(../../statics/icons/icon-chat-pink.svg);
    }
    .icon_notification_from_backend {
        width: 30px;
        height: 30px;
        background-image: url(../../statics/icons/icon-notice-mark.svg);
    }
    .icon_online_alert_notification {
        width: 25px;
        height: 30px;
        background-image: url(../../statics/icons/icon-online-notice-fill.svg);
    }
    .icon-video-call-grey {
        width: 30px;
        height: 16px;
        background-image: url(../../statics/icons/icon-video-call-grey.svg);
    }
    .icon-phone-call-grey {
        width: 23px;
        height: 23px;
        background-image: url(../../statics/icons/icon-phone-call-grey.svg);
    }
    .icon_notification_picture {
        width: 32px;
        height: 28px;
        background-image: url(../../statics/icons/icon-camera-pink.svg);
    }
}
