@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.news {
    &__list {
        .article-content {
            background: #fff;
            border-bottom: 8px solid #efefef;
            padding: 15px 15px 20px;
            border-radius: 4px;
        }

        .article-image {
            text-align: center;
            img {
                width: 100%;
            }
        }

        .article-status {
            padding-top: 10px;
            display: block;
            margin: 0 auto !important;;
        }
    }

    &__content {
        @include word-wrap;
        transition: all .5s ease-in-out;

        &.hide {
            height: 0;
            overflow: hidden;
        }

        a {
            text-decoration: underline;
        }
    }

    &__show-hide {
        display: block;
        text-align: center;
        margin: 0 auto !important;
        cursor: pointer;
        color: #ec008c;

        .icon {
            margin-right: 5px;
        }

        .icon-close {
            position: relative;
            top: 3px;
            margin-top: 10px;
        }
    }
}
