@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.img-avatar {
    @include image-background;
    @include position-full-content;
    position: absolute;
    background-image: url(#{$image-path}/avatar-default.png);

    &.is_loading {
        //@include full-screen-loading;
        //
        //&:before {
        //    z-index: 1;
        //}
        //
        //&:after {
        //    z-index: 2;
        //};
    }
}

.img-bg {
    @include image-background;
    @include position-full-content;
    position: absolute;
}

.k-header .img-avatar.is_loading {
    &:after {
        width: 20px;
        height: 20px;
    }
}
