@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.natural-chat-container-root {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    background-color: white;
    overflow: hidden;
    &.natural-chat-container-active {
        -webkit-display: flex;
        display: flex;
    }

    .natural-chat-pool-root {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        flex-shrink: 1;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: stretch;
        align-items: stretch;
    }
}

