@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";
//
.form-reset .form__label {
    color: #4a4a4a;
}

.form-reset__loading {
    @include full-screen-loading;
}

.form-reset {
    text-align: left;
    span {
        font-size: $web-font-size;
        color: #4a4a4a;
        padding-left: 16px;
        display: block;
        padding-top: 20px;
    }

    button {
        margin: 0 auto;
        display: block;
        margin-top: 50px;
    }

    input {
        &::placeholder {
            font-size: $web-font-size;
        }
    }
}
