@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.chat-gallery {
    &__loading {
        @include full-screen-loading;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        width: 25%;
        cursor: pointer;

        &:before {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        &.is_lock {
            filter: blur(6px);
            &:after {
                filter: blur(6px);
                @include position-full-content;
                @include background-opacity(#fff, 0.8);
                position: absolute;
                content: "";
            }
        }

        .ph-item {
            position: absolute;
            width: auto;
        }

        .ph-picture {
            height: 25vw;
        }
    }

    &__img {
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
    }

    &__preview {
        position: fixed;
        top: 90px;
        bottom: 74px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    &__preview-wrapper {
        position: relative;
        text-align: center;

        &:after{
            @include position-full-content;
            content: '';
            position: absolute;
        } 
    }

    .is_lock:after {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8);
        filter: blur(6px);
        position: absolute;
        content: "";
    }
    
    .is_lock {
        img {
            filter: blur(12px);
        }
    }

    &__preview-wrapper {
        height: 63vh;
        position: relative;
        margin: 30px auto 0;
        overflow: hidden;
    }

    &__preview-img {
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    &__download {
        position: fixed;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
    }
}

.is_desktop {
    .chat-gallery__preview {
        max-width: $max-with;
    }
}

.is_tablet .chat-gallery__item {
    width: 20%;
}

.is_desktop .chat-gallery__item .ph-picture {
    height: $max-width / 4;
}
