@import "~@statics/scss/variables";
@import "~@statics/scss/mixins";

.buzz {
    &__loading {
        @include full-screen-loading;
    }

        &__item {
        position: relative;
        border-bottom: 8px solid #efefef;

        &-header {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 10px;

            &-link {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex: 1 1 auto;
            }

            &-reaction {
                width: 30px;
                margin-top: 10px;
                text-align: center;
                flex: 0 0 auto;

                .icon {
                    cursor: pointer;
                }
            }

            .user-avatar {
                @include border-radius(50%);
                flex: 0 0 auto;
                display: block;
                position: relative;
                width: 35px;
                height: 35px;
                overflow: hidden;
            }

            .user-info {
                flex: 1 1 auto;
                padding-left: 10px;
                line-height: 18px;
                color: #bcbbbb;
                font-size: 10px;

                .user-info-name {
                    display: block;
                    margin: 0;
                    margin-top: 5px;
                    font-size: $web-font-size;
                    font-weight: 600;
                    color: #000;
                }

                .time-position {
                    position: relative;
                    height: 25px;
                }

                .icon-time {
                    position: absolute;
                    top: 4px;
                }

                .text-buzz-time {
                    position: absolute;
                    top: 1px;
                    left:15px;
                }

                .icon-position {
                    position: absolute;
                    top: 4px;
                    left:70px
                }

                .text-position {
                    position: absolute;
                    top: 1px;
                    left: 82px;
                }



                .icon {
                    margin-right: 5px;
                }
            }
        }
    }

    &__content {
        text-align: center;
        border-bottom: 1px solid #efefef;
    }

    &__status {
        @include word-wrap;
        position: relative;
        padding: 15px 10px;
        text-align: left;

        &:empty {
            display: none;
        }

        &.is_pending {
            word-break: break-all;
            &:before {
                @include position-full-content;
                @include background-opacity(#ec008c, 0.4);
                content: '';
                position: absolute;
                z-index: 2;
            }
        }
    }

    &__image {
        position: relative;
        padding: 0 10px 10px;
        min-height: 120px;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        .ph-item {
            position: absolute;
        }

        .ph-picture {
            height: 100vw;
        }

        &.is_pending {
            &:before {
                @include position-full-content;
                @include background-opacity(#ec008c, 0.4);
                content: '';
                position: absolute;
                z-index: 2;
            }

            &.type_image:before {
                top: 10px;
                right: 10px;
                bottom: 10px;
                left: 10px;
                border-radius: 5px;
            }
        }

        .img-bg {
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            border-radius: 5px;
        }
    }

    &__text-hint {
        @include position-full-content;
        position: absolute;
        z-index: 3;
        text-align: center;
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__footer {
        padding: 0 10px;
        display: flex;
        color: #bcbbbb;
        font-size: $web-font-size;
        align-items: center;

        > span, a {
            color: #bcbbbb !important;
            display: inline-block;
            margin-right: 30px;
            cursor: pointer;
            font-size: 16px;
        }
        >span{
            height: 38px;
            line-height: 38px;
        }
        >a{
            color: #bcbbbb !important;
            display: flex;
            margin-right: 30px;
            line-height: 38px;
            cursor: pointer;
            font-size: 16px;
            position: relative;
            height: 38px;
            align-items: center;
            span{
                background-position: center;
                background-size: contain;
                top : 0px !important;
                margin-top: 0px !important;
            }
        }

        .text_pink {
            color: #ec008c !important;
        }

        .icon-comment {
            position: relative;
            top: 5px;
            margin-right: 5px;
        }

        .icon-like, .icon-liked {
            margin-right: 5px;
            margin-top: 5px;
        }

        .box-like {
            position: relative;
            font-size: 16px;
            display: flex;
            line-height: 38px;
            align-items: center;
            span{
                position: relative;
                top : 0px;
                margin-top: 0px;
            }
        }

        .num-like {
            position: absolute;
            top: 5px;
            font-size: 16px;
        }
    }

    &__load-comment {
        display: block;
        color: $primary-color !important;
        padding: 10px;
        font-size: 12px;
    }
}

.buzz-comment {
    &__loading {
        @include full-screen-loading;
    }
    &__list {
        margin-top: 25px;

        &:empty {
            display: none;
        }
    }

    &__item {
        position: relative;
        margin-bottom: 5px;

        &.is_pending:after {
            @include position-full-content;
            @include background-opacity(#ec008c, 0.4);
            position: absolute;
            content: '';
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 10px;

        &-link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex: 1 1 auto;
        }

        &-reaction {
            width: 65px;
            text-align: center;
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            a {
                color: $primary-color;
            }

            .icon {
                cursor: pointer;
            }

            .text-pink {
                color : #ec008c;
            }
        }

        .user-avatar {
            @include border-radius(50%);
            flex: 0 0 auto;
            display: block;
            position: relative;
            width: 35px;
            height: 35px;
            overflow: hidden;
        }

        .user-info {
            flex: 1 1 auto;
            padding-left: 10px;
            line-height: 18px;
            color: #bcbbbb;
            font-size: 10px;

            .name {
                font-size: $web-font-size;
                font-weight: 600;
                color: #000;
                margin-bottom: 3px;
            }

            .icon {
                margin-right: 5px;

                &-position {
                    margin-left: 25px;
                }
            }
        }
    }

    &__content {
        @include word-wrap;
        padding: 0 10px 10px 55px;
        font-size: 12px;
        > div {
            @include word-wrap;
        }

        .buzz-comment__subcomment .text-pink{
            color : #ec008c;
            margin-top: 10px;
            margin-left: 11px;
        }
    }

    &__load-sub {
        display: block;
        color: $primary-color !important;
        padding: 5px 0;
    }
    
    &__subcomment {
        .buzz-comment__header {
            padding: 10px 0px;
        }
    }
}

.user-profile .timeline-page .link-content-buzz,
.buzz-detail-page .buzz__list .link-content-buzz{
    color: #000 !important;
}

.buzz-comment-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &__icon {
        flex: 0 0 auto;
        width: 50px;
    }

    &__input {
        flex: 1 1 auto;
        padding: 3px 6px;
        border: 1px solid #bcbbbb;
        border-radius: 10px;
    }

    input:disabled {
        background-color: #fff !important;
    }
}

.buzz__list {
    .buzz-comment__list {
        .buzz-comment__item {
            .user-info {
                .comment-time{
                    position: relative;
                    height: 15px;
                }
                .text-comment {
                    position: absolute;
                    top: 0px;
                    left: 15px;
                    line-height: 15px;
                }
            }
        }
    }
}


.is_desktop .buzz__image .ph-picture {
    height: $max-width;
}
